In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import datetime as dt

In [ ]:
# Import temperature and population files
df = pd.read_csv('../SynMax/Population Data.csv')

In [ ]:
# Import temperature and population files
df2 = pd.read_csv('../Synmax/Temperature Data.csv')

In [ ]:
#Create time series including all relevant dates
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
s = pd.Series(index=time)

print(s)

In [ ]:
# Import temperature and population files
# Sanitize temp data
    # Convert location_date to datetime
    # Set datettime as index
        # Iterate through stations one by one to find station's missing days
            # Find missing days
            # Iterate through missing dates
                # Add date row
                # Add other relevant info - station_code, region, etc
                # Add boolean column indicating interpolated row
                # Interpolate temperatures linearly from previous and next day from same station
                # Weigh city temp entries by population versus entire region

In [ ]:
# Subset grouped by date and name
df2bydate = df2.groupby(['location_date', 'name'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)

In [ ]:
# Frame rearranged by date 
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")

print(df2)

In [ ]:
# Check for number of city names in temp data
cnt2 = 0
cities2 = []
for i in range(0, len(df2)):
    if df2['name'][i] not in cities2:
        cities2.append(df2['name'][i])
        cnt2 += 1

print("No of cities:", cnt2)
print("Cities:", cities2)

In [ ]:
# Check for unique cities in pop data
cnt1 = 0
cities1 = []
for i in range(0, len(df)):
    if df['City'][i] not in cities1:
        cities1.append(df['City'][i])
        cnt1 += 1

print("No of unique cities:", cnt1)
print("Cities:", cities1)

In [ ]:
# Divide the country into regions
Pacific = ['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska']
Mountain = ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico']
WestNorthCentral = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
WestSouthCentral = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana']
EastNorthCentral = ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio']
EastSouthCentral = ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama']
SouthAtlantic = ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia']
MidAtlantic = ['Pennsylvania', 'New York', 'New Jersey']
NorthAtlantic = ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']

statecount = len(Pacific) + len(Mountain) + len(WestNorthCentral) + len(WestSouthCentral) + len(EastNorthCentral) + len(EastSouthCentral) + len(SouthAtlantic) + len(MidAtlantic) + len(NorthAtlantic)

print(statecount)

In [ ]:
regions = [Pacific, Mountain, WestNorthCentral, WestSouthCentral, EastNorthCentral, EastSouthCentral, SouthAtlantic, MidAtlantic, NorthAtlantic]
print(regions)

In [ ]:
# Check for duplicate city names with different station code - 39 stations 38 cities # KPDX Portland Oregon and KPWM Portland Maine
cnt3 = 0
stations = []
for i in range(0, len(df2)):
    if df2['station_code'][i] not in stations:
        stations.append(df2['station_code'][i])
        cnt3 += 1

print("No of unique stations:", cnt3)
print("Stations:", stations)

In [ ]:
# Assign states to stations
df2.loc[df2['station_code']== 'KBDL', ['state']] = 'Connecticut'
df2.loc[df2['station_code']== 'KATL', ['state']] = 'Georgia'
df2.loc[df2['station_code']== 'KBNA', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KBOI', ['state']] = 'Idaho'
df2.loc[df2['station_code']== 'KBOS', ['state']] = 'Massachusetts'
df2.loc[df2['station_code']== 'KBUF', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KBUR', ['state']] = 'California'
df2.loc[df2['station_code']== 'KBWI', ['state']] = 'Maryland'
df2.loc[df2['station_code']== 'KCMH', ['state']] = 'Ohio'
df2.loc[df2['station_code']== 'KCQT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KCVG', ['state']] = 'Kentucky'
df2.loc[df2['station_code']== 'KDCA', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KDEN', ['state']] = 'Colorado'
df2.loc[df2['station_code']== 'KDFW', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KDTW', ['state']] = 'Michigan'
df2.loc[df2['station_code']== 'KFAT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KGEG', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KIAD', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KIAH', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KLAS', ['state']] = 'Nevada'
df2.loc[df2['station_code']== 'KLGA', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KLIT', ['state']] = 'Arkansas'
df2.loc[df2['station_code']== 'KMEM', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KMSP', ['state']] = 'Minnesota'
df2.loc[df2['station_code']== 'KMSY', ['state']] = 'Louisiana'
df2.loc[df2['station_code']== 'KORD', ['state']] = 'Illinois'
df2.loc[df2['station_code']== 'KPDX', ['state']] = 'Oregon'
df2.loc[df2['station_code']== 'KPHL', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPHX', ['state']] = 'Arizona'
df2.loc[df2['station_code']== 'KPIT', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPWM', ['state']] = 'Maine'
df2.loc[df2['station_code']== 'KRDU', ['state']] = 'North Carolina'
df2.loc[df2['station_code']== 'KRIC', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KSAC', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSEA', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KSFO', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSLC', ['state']] = 'Utah'
df2.loc[df2['station_code']== 'KSTL', ['state']] = 'Missouri'
df2.loc[df2['station_code']== 'KALB', ['state']] = 'New York'

In [ ]:

# Assign states to regions in temperature dataset

region = []
for i in range(0, len(df2)):
    for j in range(0, len(regions)):
        if df2['state'][i] in regions[j]:
            region.append(j)
# Establish region column in temp table      
df2["region"] = region

In [ ]:
# Assign states to regions in population dataset

region2 = []
for k in range(0, len(df)):
    for l in range(0, len(regions)):
        if df['State'][k] in regions[l]:
            region2.append(l)

# Establish region column in pop table          
df["region"] = region2

In [ ]:
# Save dataframes as .csv
df2.to_csv(path_or_buf='../SynMax/Temp Data.csv')
df.to_csv(path_or_buf='../SynMax/Pop Data.csv')

In [ ]:

# Convert date to datetime and fill
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")
print(df2)

In [ ]:
# Create sub-frame of specific station
KATL = df2.loc[df2['station_code'] == stations[0]]
print(KATL)

In [ ]:
# Add column indicating if data was missing
KATL['missing'] = '0'
print(KATL)

In [61]:
# Add missing dates to station sub-frame
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
KATL = pd.concat([KATL, sTime[~sTime.index.isin(KATL.index)]]).sort_index()
KATL = KATL.drop([0],axis=1)

print(KATL)

           location_date missing     name  region    state station_code  \
2015-01-01      1/1/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-02      1/2/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-03      1/3/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-04      1/4/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-05      1/5/2015       0  Atlanta     6.0  Georgia         KATL
...                  ...     ...      ...     ...      ...          ...
2021-04-16     4/16/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-17     4/17/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-18     4/18/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-19     4/19/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-20     4/20/2021       0  Atlanta     6.0  Georgia         KATL

            temp_max_c  temp_mean_c  temp_min_c
2015-01-01        13.9     6.758333         0.0
2015-01-02         9.4     8.116667         6.7
2015-01-03        16.1    11.154167         8.9
2015-01-04        17.8    14.279167         6.7
2015-01-05         8.9     5.045833         1.1
...                ...          ...         ...
2021-04-16        19.4    14.695833        10.0
2021-04-17        21.7    16.795833        12.8
2021-04-18        22.2    16.720833        11.7
2021-04-19        21.7    16.154167        11.1
2021-04-20        23.3    17.491667        12.2

[2302 rows x 9 columns]
<ipython-input-61-3dd97330f7aa>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sTime = pd.Series(index=time)

In [74]:
# Flag missing dates as missing

# Find rows where data is missing
missingKATL = KATL.loc[KATL['missing'].isna() ]

# Set values in missing subset 
# Set missing to 1
missingKATL['missing'] = '1'

# Set name to station name
missingKATL['name'] = 'Atlanta'

# Set region to station region
missingKATL['region'] = '6'

# Set state to station state
missingKATL['state'] = 'Georgia'

# Set station_code to station
missingKATL['station_code'] = 'KATL'

print(missingKATL)

                    location_date missing     name region    state  \
2015-03-08 00:00:00           NaN       1  Atlanta      6  Georgia
2015-11-01 00:00:00           NaN       1  Atlanta      6  Georgia
2016-03-13 00:00:00           NaN       1  Atlanta      6  Georgia
2016-11-06 00:00:00           NaN       1  Atlanta      6  Georgia
2017-03-12 00:00:00           NaN       1  Atlanta      6  Georgia
2017-09-16 00:00:00           NaN       1  Atlanta      6  Georgia
2017-11-05 00:00:00           NaN       1  Atlanta      6  Georgia
2018-03-11 00:00:00           NaN       1  Atlanta      6  Georgia
2018-11-04 00:00:00           NaN       1  Atlanta      6  Georgia
2018-12-12 00:00:00           NaN       1  Atlanta      6  Georgia
2019-03-10 00:00:00           NaN       1  Atlanta      6  Georgia
2019-11-03 00:00:00           NaN       1  Atlanta      6  Georgia
2020-03-08 00:00:00           NaN       1  Atlanta      6  Georgia
2020-11-01 00:00:00           NaN       1  Atlanta      6  Georgia
2021-03-14 00:00:00           NaN       1  Atlanta      6  Georgia

                    station_code  temp_max_c  temp_mean_c  temp_min_c
2015-03-08 00:00:00         KATL         NaN          NaN         NaN
2015-11-01 00:00:00         KATL         NaN          NaN         NaN
2016-03-13 00:00:00         KATL         NaN          NaN         NaN
2016-11-06 00:00:00         KATL         NaN          NaN         NaN
2017-03-12 00:00:00         KATL         NaN          NaN         NaN
2017-09-16 00:00:00         KATL         NaN          NaN         NaN
2017-11-05 00:00:00         KATL         NaN          NaN         NaN
2018-03-11 00:00:00         KATL         NaN          NaN         NaN
2018-11-04 00:00:00         KATL         NaN          NaN         NaN
2018-12-12 00:00:00         KATL         NaN          NaN         NaN
2019-03-10 00:00:00         KATL         NaN          NaN         NaN
2019-11-03 00:00:00         KATL         NaN          NaN         NaN
2020-03-08 00:00:00         KATL         NaN          NaN         NaN
2020-11-01 00:00:00         KATL         NaN          NaN         NaN
2021-03-14 00:00:00         KATL         NaN          NaN         NaN
<ipython-input-74-90994a14514d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missingKATL['missing'] = '1'
<ipython-input-74-90994a14514d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missingKATL['name'] = 'Atlanta'
<ipython-input-74-90994a14514d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missingKATL['region'] = '6'
<ipython-input-74-90994a14514d>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missingKATL['state'] = 'Georgia'
<ipython-input-74-90994a14514d>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missingKATL['station_code'] = 'KATL'

In [75]:
#Interpolate temp_min_c within KATL set 
KATLinterpolMIN = KATL['temp_min_c'].interpolate()
print(KATLinterpolMIN)

2015-01-01     0.0
2015-01-02     6.7
2015-01-03     8.9
2015-01-04     6.7
2015-01-05     1.1
              ...
2021-04-16    10.0
2021-04-17    12.8
2021-04-18    11.7
2021-04-19    11.1
2021-04-20    12.2
Name: temp_min_c, Length: 2302, dtype: float64

In [ ]:
#Interpolate temp_max_c within KATL set 
KATLinterpolMAX = KATL['temp_max_c'].interpolate()
print(KATLinterpolMAX)

In [ ]:
#Interpolate temp_mean_c within KATL set 
KATLinterpolMEAN = KATL['temp_mean_c'].interpolate()
print(KATLinterpolMEAN)

In [60]:
# Concatenate sub-frames with interpolated temperature data into single frame
KATLinterpol = pd.concat([KATLinterpolMAX, KATLinterpolMIN, KATLinterpolMEAN], axis=1)

print(KATLinterpol)

            temp_max_c  temp_min_c  temp_mean_c
2015-01-01        13.9         0.0     6.758333
2015-01-02         9.4         6.7     8.116667
2015-01-03        16.1         8.9    11.154167
2015-01-04        17.8         6.7    14.279167
2015-01-05         8.9         1.1     5.045833
...                ...         ...          ...
2021-04-16        19.4        10.0    14.695833
2021-04-17        21.7        12.8    16.795833
2021-04-18        22.2        11.7    16.720833
2021-04-19        21.7        11.1    16.154167
2021-04-20        23.3        12.2    17.491667

[2302 rows x 3 columns]

In [ ]:
# Create new df
df3 = []
# Insert timeseries as index
df3 = pd.DataFrame(s)
# Concatenate station frame and interpolated temperature data for station frame
df3 = pd.concat([KATLinterpolMEAN, KATLinterpolMIN, KATLinterpolMAX], axis=1)
# Remove duplicate columns

""" df3 = df3.T.drop_duplicates().T """

print(df3)

In [ ]:
# Add station code column populated with current station
KATLinterpol['station_code'] = stations[0]

In [ ]:
# Attempt to add missing dates to entire dataframe with values as nan - Doesn't work
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
df2 = pd.concat([df2, sTime[~sTime.index.isin(df2.index)]]).sort_index()
df2 = df2.drop([0],axis=1)

print(df2)

In [ ]:
# Here are 4 ways to select all rows with NaN values in Pandas DataFrame:

# (1) Using isna() to select all rows with NaN under a single DataFrame column:
# df[df['column name'].isna()]

# (2) Using isnull() to select all rows with NaN under a single DataFrame column:
# df[df['column name'].isnull()]

# (3) Using isna() to select all rows with NaN under an entire DataFrame:
# df[df.isna().any(axis=1)]

# (4) Using isnull() to select all rows with NaN under an entire DataFrame:
# df[df.isnull().any(axis=1)]