In [83]:
import pandas as pd

In [84]:
import numpy as np

In [85]:
import datetime as dt

In [86]:
# Import temperature and population files
df = pd.read_csv('../SynMax/Population Data.csv')

In [87]:
# Import temperature and population files
df2 = pd.read_csv('../Synmax/Temperature Data.csv')

In [88]:
#Create time series including all relevant dates
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
s = pd.Series(index=time)

print(s)

2015-01-01   NaN
2015-01-02   NaN
2015-01-03   NaN
2015-01-04   NaN
2015-01-05   NaN
              ..
2021-04-16   NaN
2021-04-17   NaN
2021-04-18   NaN
2021-04-19   NaN
2021-04-20   NaN
Freq: D, Length: 2302, dtype: float64
<ipython-input-88-55a513de126b>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series(index=time)

In [89]:
# Import temperature and population files
# Sanitize temp data
    # Convert location_date to datetime
    # Set datettime as index
        # Iterate through stations one by one to find station's missing days
            # Find missing days
            # Iterate through missing dates
                # Add date row
                # Add other relevant info - station_code, region, etc
                # Add boolean column indicating interpolated row
                # Interpolate temperatures linearly from previous and next day from same station
                # Weigh city temp entries by population versus entire region

In [90]:
df2bydate = df2.groupby(['location_date', 'name'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)

In [91]:
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")

In [92]:
# Check for unique cities in temp data
cnt2 = 0
cities2 = []
for i in range(0, len(df2)):
    if df2['name'][i] not in cities2:
        cities2.append(df2['name'][i])
        cnt2 += 1

print("No of unique cities:", cnt2)
print("Cities:", cities2)

No of unique cities: 38
Cities: ['Atlanta', 'Windsor Locks', 'Nashville', 'Boise', 'Boston', 'Buffalo', 'Burbank', 'Baltimore', 'Columbus', 'Los Angeles', 'Covington', 'Washington', 'Denver', 'Dallas', 'Detroit/Wayne', 'Fresno', 'Spokane', 'Wash DC/Dulles', 'Houston', 'Las Vegas', 'NYC/LaGuardia', 'Little Rock', 'Memphis', 'Minneapolis', 'New Orleans', "Chicago O'Hare", 'Portland', 'Philadelphia', 'Phoenix/Sky HRBR', 'Pittsburgh', 'Raleigh/Durham', 'Richmond', 'Sacramento/Execu', 'Seattle', 'San Francisco', 'Salt Lake City', 'St Louis/Lambert', 'Albany']

In [93]:
# Check for unique cities in pop data
cnt1 = 0
cities1 = []
for i in range(0, len(df)):
    if df['City'][i] not in cities1:
        cities1.append(df['City'][i])
        cnt1 += 1

print("No of unique cities:", cnt1)
print("Cities:", cities1)

No of unique cities: 274
Cities: ['Henderson', 'Manchester', 'Elizabeth', 'Newark', 'Paterson', 'Jersey City', 'Albuquerque', 'Buffalo', 'Rochester', 'Syracuse', 'New York', 'Yonkers', 'Charlotte', 'Winstonâ€“Salem', 'High Point', 'Greensboro', 'Fayetteville', 'Durham', 'Cary', 'Raleigh', 'Wilmington', 'Fargo', 'Cincinnati', 'Dayton', 'Toledo', 'Columbus', 'Cleveland', 'Akron', 'Oklahoma City', 'Norman', 'Tulsa', 'Broken Arrow', 'Eugene', 'Salem', 'Portland', 'Gresham', 'Erie', 'Pittsburgh', 'Allentown', 'Philadelphia', 'Providence', 'Columbia', 'Charleston', 'Sioux Falls', 'Memphis', 'Clarksville', 'Nashville', 'Murfreesboro', 'Chattanooga', 'Knoxville', 'El Paso', 'Odessa', 'Midland', 'Lubbock', 'Amarillo', 'Abilene', 'Laredo', 'Wichita Falls', 'Killeen', 'Round Rock', 'Brownsville', 'Fort Worth', 'Waco', 'Corpus Christi', 'Denton', 'Arlington', 'Grand Prairie', 'Irving', 'Carrollton', 'Frisco', 'Dallas', 'Plano', 'Richardson', 'McKinney', 'Garland', 'Mesquite', 'Houston', 'Pasadena', 'Beaumont', 'West Valley City', 'West Jordan', 'Salt Lake City', 'Provo', 'Richmond', 'Alexandria', 'Newport News', 'Chesapeake', 'Hampton', 'Norfolk', 'Virginia Beach', 'Vancouver', 'Tacoma', 'Seattle', 'Kent', 'Everett', 'Bellevue', 'Spokane', 'Madison', 'Green Bay', 'Milwaukee', 'Costa Mesa', 'West Covina', 'Santa Ana', 'Orange', 'Irvine', 'Pomona', 'Anaheim', 'Ontario', 'Rancho Cucamonga', 'Corona', 'Fontana', 'Riverside', 'Rialto', 'Victorville', 'Oceanside', 'San Bernardino', 'Carlsbad', 'Moreno Valley', 'Murrieta', 'San Diego', 'Temecula', 'Escondido', 'Chula Vista', 'El Cajon', 'Lakewood', 'Arvada', 'Fort Collins', 'Westminster', 'Thornton', 'Denver', 'Centennial', 'Colorado Springs', 'Pueblo', 'Aurora', 'Stamford', 'Bridgeport', 'Atlanta', 'Athens', 'Augusta', 'Savannah', 'Honolulu', 'Boise', 'Springfield', 'Peoria', 'Rockford', 'Elgin', 'Naperville', 'Joliet', 'Chicago', 'Evansville', 'South Bend', 'Indianapolis', 'Fort Wayne', 'Des Moines', 'Cedar Rapids', 'Davenport', 'Wichita', 'Topeka', 'Olathe', 'Kansas City', 'Overland Park', 'Louisville', 'Lexington', 'Shreveport', 'Lafayette', 'Baton Rouge', 'New Orleans', 'Baltimore', 'Worcester', 'Lowell', 'Cambridge', 'Boston', 'Grand Rapids', 'Lansing', 'Ann Arbor', 'Flint', 'Detroit', 'Sterling Heights', 'Warren', 'Minneapolis', 'Saint Paul', 'Jackson', 'Independence', 'St. Louis', 'Billings', 'Lincoln', 'Omaha', 'Reno', 'Las Vegas', 'North Las Vegas', 'San Antonio', 'McAllen', 'Austin', 'Mobile', 'Birmingham', 'Huntsville', 'Montgomery', 'Anchorage', 'Surprise', 'Glendale', 'Phoenix', 'Tempe', 'Chandler', 'Scottsdale', 'Gilbert', 'Mesa', 'Tucson', 'Little Rock', 'San Francisco', 'Santa Rosa', 'Daly City', 'Berkeley', 'Vallejo', 'Oakland', 'Hayward', 'Fairfield', 'Sunnyvale', 'Concord', 'Santa Clara', 'Fremont', 'San Jose', 'Antioch', 'Salinas', 'Sacramento', 'Elk Grove', 'Stockton', 'Roseville', 'Modesto', 'Santa Maria', 'Fresno', 'Visalia', 'San Buenaventura (Ventura)', 'Oxnard', 'Bakersfield', 'Thousand Oaks', 'Simi Valley', 'Santa Clarita', 'Los Angeles', 'Inglewood', 'Torrance', 'Burbank', 'Lancaster', 'Long Beach', 'Downey', 'Palmdale', 'Norwalk', 'El Monte', 'Huntington Beach', 'Garden Grove', 'Fullerton', 'Waterbury', 'New Haven', 'Hartford', 'Washington', 'Tallahassee', 'Clearwater', 'Saint Petersburg', 'Tampa', 'Gainesville', 'Cape Coral', 'Jacksonville', 'Orlando', 'Palm Bay', 'Port Saint Lucie', 'Pembroke Pines', 'Miramar', 'Hialeah', 'Coral Springs', 'Miami Gardens', 'Miami', 'Hollywood', 'Fort Lauderdale', 'Pompano Beach', 'West Palm Beach']

In [94]:
Pacific = ['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska']
Mountain = ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico']
WestNorthCentral = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
WestSouthCentral = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana']
EastNorthCentral = ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio']
EastSouthCentral = ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama']
SouthAtlantic = ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia']
MidAtlantic = ['Pennsylvania', 'New York', 'New Jersey']
NorthAtlantic = ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']

statecount = len(Pacific) + len(Mountain) + len(WestNorthCentral) + len(WestSouthCentral) + len(EastNorthCentral) + len(EastSouthCentral) + len(SouthAtlantic) + len(MidAtlantic) + len(NorthAtlantic)

print(statecount)

51

In [95]:
regions = [Pacific, Mountain, WestNorthCentral, WestSouthCentral, EastNorthCentral, EastSouthCentral, SouthAtlantic, MidAtlantic, NorthAtlantic]
print(regions)

[['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska'], ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico'], ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'], ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana'], ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio'], ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama'], ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia'], ['Pennsylvania', 'New York', 'New Jersey'], ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']]

In [96]:
# Check for duplicate city names with different station code - 39 stations 38 cities # KPDX Portland Oregon and KPWM Portland Maine
cnt3 = 0
stations = []
for i in range(0, len(df2)):
    if df2['station_code'][i] not in stations:
        stations.append(df2['station_code'][i])
        cnt3 += 1

print("No of unique stations:", cnt3)
print("Stations:", stations)

No of unique stations: 39
Stations: ['KATL', 'KBDL', 'KBNA', 'KBOI', 'KBOS', 'KBUF', 'KBUR', 'KBWI', 'KCMH', 'KCQT', 'KCVG', 'KDCA', 'KDEN', 'KDFW', 'KDTW', 'KFAT', 'KGEG', 'KIAD', 'KIAH', 'KLAS', 'KLGA', 'KLIT', 'KMEM', 'KMSP', 'KMSY', 'KORD', 'KPDX', 'KPHL', 'KPHX', 'KPIT', 'KPWM', 'KRDU', 'KRIC', 'KSAC', 'KSEA', 'KSFO', 'KSLC', 'KSTL', 'KALB']

In [97]:
# Assign states to stations
df2.loc[df2['station_code']== 'KBDL', ['state']] = 'Connecticut'
df2.loc[df2['station_code']== 'KATL', ['state']] = 'Georgia'
df2.loc[df2['station_code']== 'KBNA', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KBOI', ['state']] = 'Idaho'
df2.loc[df2['station_code']== 'KBOS', ['state']] = 'Massachusetts'
df2.loc[df2['station_code']== 'KBUF', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KBUR', ['state']] = 'California'
df2.loc[df2['station_code']== 'KBWI', ['state']] = 'Maryland'
df2.loc[df2['station_code']== 'KCMH', ['state']] = 'Ohio'
df2.loc[df2['station_code']== 'KCQT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KCVG', ['state']] = 'Kentucky'
df2.loc[df2['station_code']== 'KDCA', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KDEN', ['state']] = 'Colorado'
df2.loc[df2['station_code']== 'KDFW', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KDTW', ['state']] = 'Michigan'
df2.loc[df2['station_code']== 'KFAT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KGEG', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KIAD', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KIAH', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KLAS', ['state']] = 'Nevada'
df2.loc[df2['station_code']== 'KLGA', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KLIT', ['state']] = 'Arkansas'
df2.loc[df2['station_code']== 'KMEM', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KMSP', ['state']] = 'Minnesota'
df2.loc[df2['station_code']== 'KMSY', ['state']] = 'Louisiana'
df2.loc[df2['station_code']== 'KORD', ['state']] = 'Illinois'
df2.loc[df2['station_code']== 'KPDX', ['state']] = 'Oregon'
df2.loc[df2['station_code']== 'KPHL', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPHX', ['state']] = 'Arizona'
df2.loc[df2['station_code']== 'KPIT', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPWM', ['state']] = 'Maine'
df2.loc[df2['station_code']== 'KRDU', ['state']] = 'North Carolina'
df2.loc[df2['station_code']== 'KRIC', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KSAC', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSEA', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KSFO', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSLC', ['state']] = 'Utah'
df2.loc[df2['station_code']== 'KSTL', ['state']] = 'Missouri'
df2.loc[df2['station_code']== 'KALB', ['state']] = 'New York'

In [98]:

# Assign states to regions in temperature dataset

region = []
for i in range(0, len(df2)):
    for j in range(0, len(regions)):
        if df2['state'][i] in regions[j]:
            region.append(j)
# Establish region column in temp table      
df2["region"] = region

In [99]:
# Assign states to regions in population dataset

region2 = []
for k in range(0, len(df)):
    for l in range(0, len(regions)):
        if df['State'][k] in regions[l]:
            region2.append(l)

# Establish region column in pop table          
df["region"] = region2

In [100]:
# Save dataframes as .csv
df2.to_csv(path_or_buf='../SynMax/Temp Data.csv')
df.to_csv(path_or_buf='../SynMax/Pop Data.csv')

In [101]:

# Convert date to datetime and fill
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")
print(df2)

                        name station_code location_date  temp_mean_c  \
date
2021-04-20           Atlanta         KATL     4/20/2021    17.491667
2021-04-20     Windsor Locks         KBDL     4/20/2021    13.887500
2021-04-20         Nashville         KBNA     4/20/2021    15.175000
2021-04-20             Boise         KBOI     4/20/2021     9.329167
2021-04-20            Boston         KBOS     4/20/2021    16.716667
...                      ...          ...           ...          ...
2015-01-01  Sacramento/Execu         KSAC      1/1/2015     3.500000
2015-01-01          Portland         KPWM      1/1/2015    -3.454167
2015-01-01    Raleigh/Durham         KRDU      1/1/2015     3.291667
2015-01-01        Pittsburgh         KPIT      1/1/2015    -2.570833
2015-01-01  Phoenix/Sky HRBR         KPHX      1/1/2015     4.354167

            temp_min_c  temp_max_c           state  region
date
2021-04-20        12.2        23.3         Georgia       6
2021-04-20         3.9        22.2     Connecticut       8
2021-04-20         6.7        23.3       Tennessee       5
2021-04-20         1.7        15.6           Idaho       1
2021-04-20        10.0        23.9   Massachusetts       8
...                ...         ...             ...     ...
2015-01-01        -1.7        10.6      California       0
2015-01-01        -7.8        -0.6           Maine       8
2015-01-01        -4.4        10.6  North Carolina       6
2015-01-01        -6.7         1.7    Pennsylvania       7
2015-01-01         1.7         7.2         Arizona       1

[89219 rows x 8 columns]

In [102]:

allmissingdays = []
#loop through each station
for i in range(0, len(stations)):
    missingFromStation = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i]])

    allmissingdays.append(missingFromStation) 
    print(missingFromStation)

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)

In [103]:
pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i]])

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)

In [104]:

#loop through each station
for i in range(0, len(stations)):
    missingdates = []
    missingdates = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i], 'date'])
    #loop through each date in s
    for j in range(0, len(s)):
    #check/create dates in individual station
        if s[j] not in df2.loc[df2['station_code'] == stations[0], 'date']:
            missingdates["Station"].append(stations[0])
            missingdates["Date"].append(s[j].isoformat())

KeyError: 'date'

In [ ]:
# Calculate total number of missing days by station code - KPHX has no missing days 
missingCount = 0

for i in range(0, len(stations)):
    ct1 = len(pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i], 'date']))
    missingCount += ct1

print(missingCount)

In [48]:
df2

,name,station_code,location_date,temp_mean_c,temp_min_c,temp_max_c,state,region
date,,,,,,,,
2021-04-20,Atlanta,KATL,4/20/2021,17.491667,12.2,23.3,Georgia,6
2021-04-20,Windsor Locks,KBDL,4/20/2021,13.887500,3.9,22.2,Connecticut,8
2021-04-20,Nashville,KBNA,4/20/2021,15.175000,6.7,23.3,Tennessee,5
2021-04-20,Boise,KBOI,4/20/2021,9.329167,1.7,15.6,Idaho,1
2021-04-20,Boston,KBOS,4/20/2021,16.716667,10.0,23.9,Massachusetts,8
...,...,...,...,...,...,...,...,...
2015-01-01,Sacramento/Execu,KSAC,1/1/2015,3.500000,-1.7,10.6,California,0
2015-01-01,Portland,KPWM,1/1/2015,-3.454167,-7.8,-0.6,Maine,8
2015-01-01,Raleigh/Durham,KRDU,1/1/2015,3.291667,-4.4,10.6,North Carolina,6
2015-01-01,Pittsburgh,KPIT,1/1/2015,-2.570833,-6.7,1.7,Pennsylvania,7
2015-01-01,Phoenix/Sky HRBR,KPHX,1/1/2015,4.354167,1.7,7.2,Arizona,1

In [47]:
print(pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[28], 'location_date']))

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-11', '2021-04-12', '2021-04-13', '2021-04-14',
               '2021-04-15', '2021-04-16', '2021-04-17', '2021-04-18',
               '2021-04-19', '2021-04-20'],
              dtype='datetime64[ns]', length=2302, freq=None)

In [45]:
missingFromStation = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[0], 'date'])

print(missingFromStation[0])

KeyError: 'date'

In [ ]:

missingFromStation = []
newFrame = []
df5 = []

# Create loop for all stations

for i in range(0, len(stations)):
    missingFromStation = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i], 'date'])
    
# Within each station create a new frame including only missing dates and station code
    newFrame = pd.DataFrame({'date': missingFromStation.date, 'station_code': stations[i]})
    print(newFrame)
# Merge new frame with df2 (ignoring index?)
    df5 = df2.append(newFrame, ignore_index=True)
    print(len(df5))

#Use for loop to create an array of stations
stations
df5.head

In [50]:
# Create sub-frame of specific station
KATL = df2.loc[df2['station_code'] == stations[0]]
print(KATL)

               name station_code location_date  temp_mean_c  temp_min_c  \
date
2021-04-20  Atlanta         KATL     4/20/2021    17.491667        12.2
2021-04-19  Atlanta         KATL     4/19/2021    16.154167        11.1
2021-04-18  Atlanta         KATL     4/18/2021    16.720833        11.7
2021-04-17  Atlanta         KATL     4/17/2021    16.795833        12.8
2021-04-16  Atlanta         KATL     4/16/2021    14.695833        10.0
...             ...          ...           ...          ...         ...
2015-01-05  Atlanta         KATL      1/5/2015     5.045833         1.1
2015-01-04  Atlanta         KATL      1/4/2015    14.279167         6.7
2015-01-03  Atlanta         KATL      1/3/2015    11.154167         8.9
2015-01-02  Atlanta         KATL      1/2/2015     8.116667         6.7
2015-01-01  Atlanta         KATL      1/1/2015     6.758333         0.0

            temp_max_c    state  region
date
2021-04-20        23.3  Georgia       6
2021-04-19        21.7  Georgia       6
2021-04-18        22.2  Georgia       6
2021-04-17        21.7  Georgia       6
2021-04-16        19.4  Georgia       6
...                ...      ...     ...
2015-01-05         8.9  Georgia       6
2015-01-04        17.8  Georgia       6
2015-01-03        16.1  Georgia       6
2015-01-02         9.4  Georgia       6
2015-01-01        13.9  Georgia       6

[2287 rows x 8 columns]

In [52]:
# Add column indicating if data was missing
KATL['missing'] = '0'
print(KATL)

               name station_code location_date  temp_mean_c  temp_min_c  \
date
2021-04-20  Atlanta         KATL     4/20/2021    17.491667        12.2
2021-04-19  Atlanta         KATL     4/19/2021    16.154167        11.1
2021-04-18  Atlanta         KATL     4/18/2021    16.720833        11.7
2021-04-17  Atlanta         KATL     4/17/2021    16.795833        12.8
2021-04-16  Atlanta         KATL     4/16/2021    14.695833        10.0
...             ...          ...           ...          ...         ...
2015-01-05  Atlanta         KATL      1/5/2015     5.045833         1.1
2015-01-04  Atlanta         KATL      1/4/2015    14.279167         6.7
2015-01-03  Atlanta         KATL      1/3/2015    11.154167         8.9
2015-01-02  Atlanta         KATL      1/2/2015     8.116667         6.7
2015-01-01  Atlanta         KATL      1/1/2015     6.758333         0.0

            temp_max_c    state  region missing
date
2021-04-20        23.3  Georgia       6       0
2021-04-19        21.7  Georgia       6       0
2021-04-18        22.2  Georgia       6       0
2021-04-17        21.7  Georgia       6       0
2021-04-16        19.4  Georgia       6       0
...                ...      ...     ...     ...
2015-01-05         8.9  Georgia       6       0
2015-01-04        17.8  Georgia       6       0
2015-01-03        16.1  Georgia       6       0
2015-01-02         9.4  Georgia       6       0
2015-01-01        13.9  Georgia       6       0

[2287 rows x 9 columns]
<ipython-input-52-44271ce647e7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KATL['missing'] = '0'

In [53]:
# Add missing dates to station sub-frame
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
KATL = pd.concat([KATL, sTime[~sTime.index.isin(KATL.index)]]).sort_index()
KATL = KATL.drop([0],axis=1)

print(KATL)

           location_date missing     name  region    state station_code  \
2015-01-01      1/1/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-02      1/2/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-03      1/3/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-04      1/4/2015       0  Atlanta     6.0  Georgia         KATL
2015-01-05      1/5/2015       0  Atlanta     6.0  Georgia         KATL
...                  ...     ...      ...     ...      ...          ...
2021-04-16     4/16/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-17     4/17/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-18     4/18/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-19     4/19/2021       0  Atlanta     6.0  Georgia         KATL
2021-04-20     4/20/2021       0  Atlanta     6.0  Georgia         KATL

            temp_max_c  temp_mean_c  temp_min_c
2015-01-01        13.9     6.758333         0.0
2015-01-02         9.4     8.116667         6.7
2015-01-03        16.1    11.154167         8.9
2015-01-04        17.8    14.279167         6.7
2015-01-05         8.9     5.045833         1.1
...                ...          ...         ...
2021-04-16        19.4    14.695833        10.0
2021-04-17        21.7    16.795833        12.8
2021-04-18        22.2    16.720833        11.7
2021-04-19        21.7    16.154167        11.1
2021-04-20        23.3    17.491667        12.2

[2302 rows x 9 columns]
<ipython-input-53-3dd97330f7aa>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sTime = pd.Series(index=time)

In [56]:
# Flag missing dates as missing

# Find rows where data is missing
missingKATL = KATL.loc[KATL['missing']!= '0']

print(missingKATL)

                    location_date missing name  region state station_code  \
2015-03-08 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2015-11-01 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2016-03-13 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2016-11-06 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2017-03-12 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2017-09-16 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2017-11-05 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2018-03-11 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2018-11-04 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2018-12-12 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2019-03-10 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2019-11-03 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2020-03-08 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2020-11-01 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN
2021-03-14 00:00:00           NaN     NaN  NaN     NaN   NaN          NaN

                     temp_max_c  temp_mean_c  temp_min_c
2015-03-08 00:00:00         NaN          NaN         NaN
2015-11-01 00:00:00         NaN          NaN         NaN
2016-03-13 00:00:00         NaN          NaN         NaN
2016-11-06 00:00:00         NaN          NaN         NaN
2017-03-12 00:00:00         NaN          NaN         NaN
2017-09-16 00:00:00         NaN          NaN         NaN
2017-11-05 00:00:00         NaN          NaN         NaN
2018-03-11 00:00:00         NaN          NaN         NaN
2018-11-04 00:00:00         NaN          NaN         NaN
2018-12-12 00:00:00         NaN          NaN         NaN
2019-03-10 00:00:00         NaN          NaN         NaN
2019-11-03 00:00:00         NaN          NaN         NaN
2020-03-08 00:00:00         NaN          NaN         NaN
2020-11-01 00:00:00         NaN          NaN         NaN
2021-03-14 00:00:00         NaN          NaN         NaN

In [105]:
#Interpolate temp_min_c within KATL set 
KATLinterpolMIN = KATL['temp_min_c'].interpolate()
print(KATLinterpolMIN)

2015-01-01     0.0
2015-01-02     6.7
2015-01-03     8.9
2015-01-04     6.7
2015-01-05     1.1
              ...
2021-04-16    10.0
2021-04-17    12.8
2021-04-18    11.7
2021-04-19    11.1
2021-04-20    12.2
Name: temp_min_c, Length: 2302, dtype: float64

In [106]:
#Interpolate temp_max_c within KATL set 
KATLinterpolMAX = KATL['temp_max_c'].interpolate()
print(KATLinterpolMAX)

2015-01-01    13.9
2015-01-02     9.4
2015-01-03    16.1
2015-01-04    17.8
2015-01-05     8.9
              ...
2021-04-16    19.4
2021-04-17    21.7
2021-04-18    22.2
2021-04-19    21.7
2021-04-20    23.3
Name: temp_max_c, Length: 2302, dtype: float64

In [107]:
#Interpolate temp_mean_c within KATL set 
KATLinterpolMEAN = KATL['temp_mean_c'].interpolate()
print(KATLinterpolMEAN)

2015-01-01     6.758333
2015-01-02     8.116667
2015-01-03    11.154167
2015-01-04    14.279167
2015-01-05     5.045833
                ...
2021-04-16    14.695833
2021-04-17    16.795833
2021-04-18    16.720833
2021-04-19    16.154167
2021-04-20    17.491667
Name: temp_mean_c, Length: 2302, dtype: float64

In [108]:
# Concatenate sub-frames with interpolated temperature data into single frame
KATLinterpol = pd.concat([KATLinterpolMAX, KATLinterpolMIN, KATLinterpolMEAN], axis=1)

In [125]:
# Create new df
df3 = []
# Insert timeseries as index
df3 = pd.DataFrame(s)
# Concatenate station frame and interpolated temperature data for station frame
df3 = pd.concat([KATLinterpolMEAN, KATLinterpolMIN, KATLinterpolMAX], axis=1)
# Remove duplicate columns

""" df3 = df3.T.drop_duplicates().T """

print(df3)

            temp_mean_c  temp_min_c  temp_max_c
2015-01-01     6.758333         0.0        13.9
2015-01-02     8.116667         6.7         9.4
2015-01-03    11.154167         8.9        16.1
2015-01-04    14.279167         6.7        17.8
2015-01-05     5.045833         1.1         8.9
...                 ...         ...         ...
2021-04-16    14.695833        10.0        19.4
2021-04-17    16.795833        12.8        21.7
2021-04-18    16.720833        11.7        22.2
2021-04-19    16.154167        11.1        21.7
2021-04-20    17.491667        12.2        23.3

[2302 rows x 3 columns]

In [ ]:
# Add station code column populated with current station
KATLinterpol['station_code'] = stations[0]

In [ ]:
# Attempt to add missing dates to entire dataframe with values as nan - Doesn't work
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
df2 = pd.concat([df2, sTime[~sTime.index.isin(df2.index)]]).sort_index()
df2 = df2.drop([0],axis=1)

print(df2)