In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import datetime as dt

In [ ]:
# Import temperature and population files
df = pd.read_csv('../SynMax/Population Data.csv')

In [ ]:
# Import temperature and population files
df2 = pd.read_csv('../Synmax/Temperature Data.csv')

In [ ]:
#Create time series including all relevant dates
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
s = pd.Series(index=time)

print(s)

In [ ]:
# Import temperature and population files
# Sanitize temp data
    # Convert location_date to datetime
    # Set datettime as index
        # Iterate through stations one by one to find station's missing days
            # Find missing days
            # Iterate through missing dates
                # Add date row
                # Add other relevant info - station_code, region, etc
                # Add boolean column indicating interpolated row
                # Interpolate temperatures linearly from previous and next day from same station
                # Weigh city temp entries by population versus entire region

In [ ]:
# Subset grouped by date and name
df2bydate = df2.groupby(['location_date', 'name'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)

In [ ]:
# Frame rearranged by date 
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")

print(df2)

In [ ]:
# Check for number of city names in temp data
cnt2 = 0
cities2 = []
for i in range(0, len(df2)):
    if df2['name'][i] not in cities2:
        cities2.append(df2['name'][i])
        cnt2 += 1

print("No of cities:", cnt2)
print("Cities:", cities2)

In [ ]:
# Check for unique cities in pop data
cnt1 = 0
cities1 = []
for i in range(0, len(df)):
    if df['City'][i] not in cities1:
        cities1.append(df['City'][i])
        cnt1 += 1

print("No of unique cities:", cnt1)
print("Cities:", cities1)

In [ ]:
# Divide the country into regions
Pacific = ['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska']
Mountain = ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico']
WestNorthCentral = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
WestSouthCentral = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana']
EastNorthCentral = ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio']
EastSouthCentral = ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama']
SouthAtlantic = ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia']
MidAtlantic = ['Pennsylvania', 'New York', 'New Jersey']
NorthAtlantic = ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']

statecount = len(Pacific) + len(Mountain) + len(WestNorthCentral) + len(WestSouthCentral) + len(EastNorthCentral) + len(EastSouthCentral) + len(SouthAtlantic) + len(MidAtlantic) + len(NorthAtlantic)

print(statecount)

In [ ]:
regions = [Pacific, Mountain, WestNorthCentral, WestSouthCentral, EastNorthCentral, EastSouthCentral, SouthAtlantic, MidAtlantic, NorthAtlantic]
print(regions)

In [ ]:
# Check for duplicate city names with different station code - 39 stations 38 cities # KPDX Portland Oregon and KPWM Portland Maine
cnt3 = 0
stations = []
for i in range(0, len(df2)):
    if df2['station_code'][i] not in stations:
        stations.append(df2['station_code'][i])
        cnt3 += 1

print("No of unique stations:", cnt3)
print("Stations:", stations)

In [ ]:
# Assign states to stations
df2.loc[df2['station_code']== 'KBDL', ['state']] = 'Connecticut'
df2.loc[df2['station_code']== 'KATL', ['state']] = 'Georgia'
df2.loc[df2['station_code']== 'KBNA', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KBOI', ['state']] = 'Idaho'
df2.loc[df2['station_code']== 'KBOS', ['state']] = 'Massachusetts'
df2.loc[df2['station_code']== 'KBUF', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KBUR', ['state']] = 'California'
df2.loc[df2['station_code']== 'KBWI', ['state']] = 'Maryland'
df2.loc[df2['station_code']== 'KCMH', ['state']] = 'Ohio'
df2.loc[df2['station_code']== 'KCQT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KCVG', ['state']] = 'Kentucky'
df2.loc[df2['station_code']== 'KDCA', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KDEN', ['state']] = 'Colorado'
df2.loc[df2['station_code']== 'KDFW', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KDTW', ['state']] = 'Michigan'
df2.loc[df2['station_code']== 'KFAT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KGEG', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KIAD', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KIAH', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KLAS', ['state']] = 'Nevada'
df2.loc[df2['station_code']== 'KLGA', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KLIT', ['state']] = 'Arkansas'
df2.loc[df2['station_code']== 'KMEM', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KMSP', ['state']] = 'Minnesota'
df2.loc[df2['station_code']== 'KMSY', ['state']] = 'Louisiana'
df2.loc[df2['station_code']== 'KORD', ['state']] = 'Illinois'
df2.loc[df2['station_code']== 'KPDX', ['state']] = 'Oregon'
df2.loc[df2['station_code']== 'KPHL', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPHX', ['state']] = 'Arizona'
df2.loc[df2['station_code']== 'KPIT', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPWM', ['state']] = 'Maine'
df2.loc[df2['station_code']== 'KRDU', ['state']] = 'North Carolina'
df2.loc[df2['station_code']== 'KRIC', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KSAC', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSEA', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KSFO', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSLC', ['state']] = 'Utah'
df2.loc[df2['station_code']== 'KSTL', ['state']] = 'Missouri'
df2.loc[df2['station_code']== 'KALB', ['state']] = 'New York'

In [ ]:

# Assign states to regions in temperature dataset

region = []
for i in range(0, len(df2)):
    for j in range(0, len(regions)):
        if df2['state'][i] in regions[j]:
            region.append(j)
# Establish region column in temp table      
df2["region"] = region

In [ ]:
# Assign states to regions in population dataset

region2 = []
for k in range(0, len(df)):
    for l in range(0, len(regions)):
        if df['State'][k] in regions[l]:
            region2.append(l)

# Establish region column in pop table          
df["region"] = region2

In [ ]:
# Save dataframes as .csv
df2.to_csv(path_or_buf='../SynMax/Temp Data.csv')
df.to_csv(path_or_buf='../SynMax/Pop Data.csv')

In [ ]:

# Convert date to datetime and fill
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")
print(df2)

In [ ]:
# Create sub-frame of each specific station
KATL = df2.loc[df2['station_code'] == stations[0]]
KBDL = df2.loc[df2['station_code'] == stations[1]]
KBNA = df2.loc[df2['station_code'] == stations[2]]
KBOI = df2.loc[df2['station_code'] == stations[3]]
KBOS = df2.loc[df2['station_code'] == stations[4]]
KBUF = df2.loc[df2['station_code'] == stations[5]]
KBUR = df2.loc[df2['station_code'] == stations[6]]
KBWI = df2.loc[df2['station_code'] == stations[7]]
KCMH = df2.loc[df2['station_code'] == stations[8]]
KCQT = df2.loc[df2['station_code'] == stations[9]]
KCVG = df2.loc[df2['station_code'] == stations[10]]
KDCA = df2.loc[df2['station_code'] == stations[11]]
KDEN = df2.loc[df2['station_code'] == stations[12]]
KDFW = df2.loc[df2['station_code'] == stations[13]]
KDTW = df2.loc[df2['station_code'] == stations[14]]
KFAT = df2.loc[df2['station_code'] == stations[15]]
KGEG = df2.loc[df2['station_code'] == stations[16]]
KIAD = df2.loc[df2['station_code'] == stations[17]]
KIAH = df2.loc[df2['station_code'] == stations[18]]
KLAS = df2.loc[df2['station_code'] == stations[19]]
KLGA = df2.loc[df2['station_code'] == stations[20]]
KLIT = df2.loc[df2['station_code'] == stations[21]]
KMEM = df2.loc[df2['station_code'] == stations[22]]
KMSP = df2.loc[df2['station_code'] == stations[23]]
KMSY = df2.loc[df2['station_code'] == stations[24]]
KORD = df2.loc[df2['station_code'] == stations[25]]
KPDX = df2.loc[df2['station_code'] == stations[26]]
KPHL = df2.loc[df2['station_code'] == stations[27]]
KPHX = df2.loc[df2['station_code'] == stations[28]]
KPIT = df2.loc[df2['station_code'] == stations[29]]
KPWM = df2.loc[df2['station_code'] == stations[30]]
KRDU = df2.loc[df2['station_code'] == stations[31]]
KRIC = df2.loc[df2['station_code'] == stations[32]]
KSAC = df2.loc[df2['station_code'] == stations[33]]
KSEA = df2.loc[df2['station_code'] == stations[34]]
KSFO = df2.loc[df2['station_code'] == stations[35]]
KSLC = df2.loc[df2['station_code'] == stations[36]]
KSTL = df2.loc[df2['station_code'] == stations[37]]
KALB = df2.loc[df2['station_code'] == stations[38]]
print(KALB)

In [ ]:
# Create loop to sanitize data from each station subset
for i in range(0, len(stations)):
    stations[1]['missing'] = 0
print(stations[1])

In [ ]:
# Add column indicating if data was missing
KATL['missing'] = '0'
print(KATL)

In [ ]:
# Add missing dates to station sub-frame
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
KATL = pd.concat([KATL, sTime[~sTime.index.isin(KATL.index)]]).sort_index()
KATL = KATL.drop([0],axis=1)

print(KATL)

In [ ]:
# Flag missing dates as missing

# Find rows where data is missing
missingKATL = KATL.loc[KATL['missing'].isna() ]

# Set values in missing subset 
# Set missing to 1
missingKATL.loc[:,'missing'] = '1'

# Set name to station name
missingKATL.loc[:, 'name'] = 'Atlanta'

# Set region to station region
missingKATL.loc[:, 'region'] = '6'

# Set state to station state
missingKATL.loc[:, 'state'] = 'Georgia'

# Set station_code to station
missingKATL.loc[:, 'station_code'] = 'KATL'

# Remove empty columns of temp data
missingKATL.drop(columns=['temp_min_c', 'temp_mean_c', 'temp_max_c', 'location_date'], inplace=True, axis=0)

print(missingKATL)

In [ ]:
#Interpolate temp_min_c within KATL set 
KATLinterpolMIN = KATL['temp_min_c'].interpolate()
print(KATLinterpolMIN)

In [ ]:
#Interpolate temp_max_c within KATL set 
KATLinterpolMAX = KATL['temp_max_c'].interpolate()
print(KATLinterpolMAX)

In [ ]:
#Interpolate temp_mean_c within KATL set 
KATLinterpolMEAN = KATL['temp_mean_c'].interpolate()
print(KATLinterpolMEAN)

In [ ]:
# Concatenate sub-frames of interpolated temperature data into single frame
KATLinterpol = pd.concat([KATLinterpolMAX, KATLinterpolMIN, KATLinterpolMEAN], axis=1)

print(KATLinterpol)

In [ ]:
# Create new empty frame and integrate missing date row frames with interpolated temp frame
KATL2 = []
KATL2 = pd.DataFrame(s)
KATL2 = pd.concat([KATLinterpol, missingKATL], axis=1)
KATL2 = KATL2.dropna()
print(KATL2)

In [ ]:
# Drop all NaN rows from original station subframe and combine cleaned and interpolated subframes
KATL = KATL.dropna()
KATL3 = pd.concat([KATL, KATL2], axis=0)
# Review complete sub-frame of KATL 
print(KATL3)

In [158]:
# Add column indicating if data was missing
KIAH['missing'] = '0'

# Add missing dates to station sub-frame
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
KIAH = pd.concat([KIAH, sTime[~sTime.index.isin(KIAH.index)]]).sort_index()
KIAH = KIAH.drop([0],axis=1)

# Find rows where data is missing
missingKIAH = KIAH.loc[KIAH['missing'].isna() ]
# Set values in missing subset 
# Set missing to 1
missingKIAH.loc[:,'missing'] = '1'

# Set name to station name
missingKIAH.loc[:, 'name'] = 'Houston'

# Set region to station region
missingKIAH.loc[:, 'region'] = '3'

# Set state to station state
missingKIAH.loc[:, 'state'] = 'Texas'

# Set station_code to station
missingKIAH.loc[:, 'station_code'] = 'KIAH'

# Remove empty columns of temp data
missingKIAH.drop(columns=['temp_min_c', 'temp_mean_c', 'temp_max_c', 'location_date'], inplace=True, axis=0)

#Interpolate temp_min_c within KIAH set 
KIAHinterpolMIN = KIAH['temp_min_c'].interpolate()

#Interpolate temp_max_c within KIAH set 
KIAHinterpolMAX = KIAH['temp_max_c'].interpolate()

#Interpolate temp_mean_c within KIAH set 
KIAHinterpolMEAN = KIAH['temp_mean_c'].interpolate()

# Concatenate sub-frames of interpolated temperature data into single frame
KIAHinterpol = pd.concat([KIAHinterpolMAX, KIAHinterpolMIN, KIAHinterpolMEAN], axis=1)

# Create new empty frame and integrate missing date row frames with interpolated temp frame
KIAH2 = []
KIAH2 = pd.DataFrame(s)
KIAH2 = pd.concat([KIAHinterpol, missingKIAH], axis=1)
KIAH2 = KIAH2.dropna()

# Drop all NaN rows from original station subframe and combine cleaned and interpolated subframes
KIAH = KIAH.dropna()
KIAH3 = pd.concat([KIAH, KIAH2], axis=0)
# Review complete sub-frame of KIAH 
print(KIAH3)

                    location_date missing     name region  state station_code  \
2015-01-01               1/1/2015       0  Houston    3.0  Texas         KIAH
2015-01-02               1/2/2015       0  Houston    3.0  Texas         KIAH
2015-01-03               1/3/2015       0  Houston    3.0  Texas         KIAH
2015-01-04               1/4/2015       0  Houston    3.0  Texas         KIAH
2015-01-05               1/5/2015       0  Houston    3.0  Texas         KIAH
...                           ...     ...      ...    ...    ...          ...
2019-11-03 00:00:00           NaN       1  Houston      3  Texas         KIAH
2019-11-28 00:00:00           NaN       1  Houston      3  Texas         KIAH
2020-03-08 00:00:00           NaN       1  Houston      3  Texas         KIAH
2020-11-01 00:00:00           NaN       1  Houston      3  Texas         KIAH
2021-03-14 00:00:00           NaN       1  Houston      3  Texas         KIAH

                     temp_max_c  temp_mean_c  temp_min_c
2015-01-01                 8.30     6.604167        5.00
2015-01-02                12.20    10.437500        8.30
2015-01-03                11.10     8.620833        5.60
2015-01-04                12.20     6.958333        2.20
2015-01-05                12.20     4.145833       -0.60
...                         ...          ...         ...
2019-11-03 00:00:00       21.10    15.287500       10.00
2019-11-28 00:00:00       24.15    20.556250       18.65
2020-03-08 00:00:00       20.00    15.962500       11.40
2020-11-01 00:00:00       22.50    14.658333        8.05
2021-03-14 00:00:00       26.10    20.414583       15.80

[2302 rows x 9 columns]
<ipython-input-158-57f9d5a91e95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KIAH['missing'] = '0'
<ipython-input-158-57f9d5a91e95>:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sTime = pd.Series(index=time)
C:\Users\kjpes\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\kjpes\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
# Here are 4 ways to select all rows with NaN values in Pandas DataFrame:

# (1) Using isna() to select all rows with NaN under a single DataFrame column:
# df[df['column name'].isna()]

# (2) Using isnull() to select all rows with NaN under a single DataFrame column:
# df[df['column name'].isnull()]

# (3) Using isna() to select all rows with NaN under an entire DataFrame:
# df[df.isna().any(axis=1)]

# (4) Using isnull() to select all rows with NaN under an entire DataFrame:
# df[df.isnull().any(axis=1)]