In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import datetime as dt

In [ ]:
# Import temperature and population files
df = pd.read_csv('../SynMax/Population Data.csv')

In [ ]:
# Import temperature and population files
df2 = pd.read_csv('../Synmax/Temperature Data.csv')

In [ ]:
#Create time series including all relevant dates
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
s = pd.Series(index=time)

print(s)

In [ ]:
# Import temperature and population files
# Sanitize temp data
    # Convert location_date to datetime
    # Set datettime as index
        # Iterate through stations one by one to find station's missing days
            # Find missing days
            # Iterate through missing dates
                # Add date row
                # Add other relevant info - station_code, region, etc
                # Add boolean column indicating interpolated row
                # Interpolate temperatures linearly from previous and next day from same station
                # Weigh city temp entries by population versus entire region

In [ ]:
# Subset grouped by date and name
df2bydate = df2.groupby(['location_date', 'name'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)
print(df2bydate)

In [ ]:
# Frame rearranged by date 
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")

print(df2)

In [ ]:
# Check for number of city names in temp data
cnt2 = 0
cities2 = []
for i in range(0, len(df2)):
    if df2['name'][i] not in cities2:
        cities2.append(df2['name'][i])
        cnt2 += 1

print("No of cities:", cnt2)
print("Cities:", cities2)

In [ ]:
# Check for unique cities in pop data
cnt1 = 0
cities1 = []
for i in range(0, len(df)):
    if df['City'][i] not in cities1:
        cities1.append(df['City'][i])
        cnt1 += 1

print("No of unique cities:", cnt1)
print("Cities:", cities1)

In [ ]:
# Divide the country into regions
Pacific = ['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska']
Mountain = ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico']
WestNorthCentral = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
WestSouthCentral = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana']
EastNorthCentral = ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio']
EastSouthCentral = ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama']
SouthAtlantic = ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia']
MidAtlantic = ['Pennsylvania', 'New York', 'New Jersey']
NorthAtlantic = ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']

statecount = len(Pacific) + len(Mountain) + len(WestNorthCentral) + len(WestSouthCentral) + len(EastNorthCentral) + len(EastSouthCentral) + len(SouthAtlantic) + len(MidAtlantic) + len(NorthAtlantic)

print(statecount)

In [ ]:
regions = [Pacific, Mountain, WestNorthCentral, WestSouthCentral, EastNorthCentral, EastSouthCentral, SouthAtlantic, MidAtlantic, NorthAtlantic]
print(regions)

In [ ]:
# Check for duplicate city names with different station code - 39 stations 38 cities # KPDX Portland Oregon and KPWM Portland Maine
cnt3 = 0
stations = []
for i in range(0, len(df2)):
    if df2['station_code'][i] not in stations:
        stations.append(df2['station_code'][i])
        cnt3 += 1

print("No of unique stations:", cnt3)
print("Stations:", stations)

In [ ]:
# Assign states to stations
df2.loc[df2['station_code']== 'KBDL', ['state']] = 'Connecticut'
df2.loc[df2['station_code']== 'KATL', ['state']] = 'Georgia'
df2.loc[df2['station_code']== 'KBNA', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KBOI', ['state']] = 'Idaho'
df2.loc[df2['station_code']== 'KBOS', ['state']] = 'Massachusetts'
df2.loc[df2['station_code']== 'KBUF', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KBUR', ['state']] = 'California'
df2.loc[df2['station_code']== 'KBWI', ['state']] = 'Maryland'
df2.loc[df2['station_code']== 'KCMH', ['state']] = 'Ohio'
df2.loc[df2['station_code']== 'KCQT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KCVG', ['state']] = 'Kentucky'
df2.loc[df2['station_code']== 'KDCA', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KDEN', ['state']] = 'Colorado'
df2.loc[df2['station_code']== 'KDFW', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KDTW', ['state']] = 'Michigan'
df2.loc[df2['station_code']== 'KFAT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KGEG', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KIAD', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KIAH', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KLAS', ['state']] = 'Nevada'
df2.loc[df2['station_code']== 'KLGA', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KLIT', ['state']] = 'Arkansas'
df2.loc[df2['station_code']== 'KMEM', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KMSP', ['state']] = 'Minnesota'
df2.loc[df2['station_code']== 'KMSY', ['state']] = 'Louisiana'
df2.loc[df2['station_code']== 'KORD', ['state']] = 'Illinois'
df2.loc[df2['station_code']== 'KPDX', ['state']] = 'Oregon'
df2.loc[df2['station_code']== 'KPHL', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPHX', ['state']] = 'Arizona'
df2.loc[df2['station_code']== 'KPIT', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPWM', ['state']] = 'Maine'
df2.loc[df2['station_code']== 'KRDU', ['state']] = 'North Carolina'
df2.loc[df2['station_code']== 'KRIC', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KSAC', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSEA', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KSFO', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSLC', ['state']] = 'Utah'
df2.loc[df2['station_code']== 'KSTL', ['state']] = 'Missouri'
df2.loc[df2['station_code']== 'KALB', ['state']] = 'New York'

In [ ]:

# Assign states to regions in temperature dataset

region = []
for i in range(0, len(df2)):
    for j in range(0, len(regions)):
        if df2['state'][i] in regions[j]:
            region.append(j)
# Establish region column in temp table      
df2["region"] = region

In [ ]:
# Assign states to regions in population dataset

region2 = []
for k in range(0, len(df)):
    for l in range(0, len(regions)):
        if df['State'][k] in regions[l]:
            region2.append(l)

# Establish region column in pop table          
df["region"] = region2

In [ ]:
# Save dataframes as .csv
df2.to_csv(path_or_buf='../SynMax/Temp Data.csv')
df.to_csv(path_or_buf='../SynMax/Pop Data.csv')

In [ ]:

# Convert date to datetime and fill
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date
df2 = df2.set_index("date")
print(df2)

In [ ]:
# Create sub-frame of each specific station
KATL = df2.loc[df2['station_code'] == stations[0]]
KBDL = df2.loc[df2['station_code'] == stations[1]]
KBNA = df2.loc[df2['station_code'] == stations[2]]
KBOI = df2.loc[df2['station_code'] == stations[3]]
KBOS = df2.loc[df2['station_code'] == stations[4]]
KBUF = df2.loc[df2['station_code'] == stations[5]]
KBUR = df2.loc[df2['station_code'] == stations[6]]
KBWI = df2.loc[df2['station_code'] == stations[7]]
KCMH = df2.loc[df2['station_code'] == stations[8]]
KCQT = df2.loc[df2['station_code'] == stations[9]]
KCVG = df2.loc[df2['station_code'] == stations[10]]
KDCA = df2.loc[df2['station_code'] == stations[11]]
KDEN = df2.loc[df2['station_code'] == stations[12]]
KDFW = df2.loc[df2['station_code'] == stations[13]]
KDTW = df2.loc[df2['station_code'] == stations[14]]
KFAT = df2.loc[df2['station_code'] == stations[15]]
KGEG = df2.loc[df2['station_code'] == stations[16]]
KIAD = df2.loc[df2['station_code'] == stations[17]]
KIAH = df2.loc[df2['station_code'] == stations[18]]
KLAS = df2.loc[df2['station_code'] == stations[19]]
KLGA = df2.loc[df2['station_code'] == stations[20]]
KLIT = df2.loc[df2['station_code'] == stations[21]]
KMEM = df2.loc[df2['station_code'] == stations[22]]
KMSP = df2.loc[df2['station_code'] == stations[23]]
KMSY = df2.loc[df2['station_code'] == stations[24]]
KORD = df2.loc[df2['station_code'] == stations[25]]
KPDX = df2.loc[df2['station_code'] == stations[26]]
KPHL = df2.loc[df2['station_code'] == stations[27]]
KPHX = df2.loc[df2['station_code'] == stations[28]]
KPIT = df2.loc[df2['station_code'] == stations[29]]
KPWM = df2.loc[df2['station_code'] == stations[30]]
KRDU = df2.loc[df2['station_code'] == stations[31]]
KRIC = df2.loc[df2['station_code'] == stations[32]]
KSAC = df2.loc[df2['station_code'] == stations[33]]
KSEA = df2.loc[df2['station_code'] == stations[34]]
KSFO = df2.loc[df2['station_code'] == stations[35]]
KSLC = df2.loc[df2['station_code'] == stations[36]]
KSTL = df2.loc[df2['station_code'] == stations[37]]
KALB = df2.loc[df2['station_code'] == stations[38]]
print(KALB)

In [ ]:
# Add column indicating if data was missing
KATL['missing'] = '0'
print(KATL)

In [312]:
# Add missing dates to station sub-frame
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
KATL = pd.concat([KATL, sTime[~sTime.index.isin(KATL.index)]]).sort_index()
KATL = KATL.drop([0],axis=1)

print(KATL)

           location_date     name  region    state station_code  temp_max_c  \
2015-01-01      1/1/2015  Atlanta     6.0  Georgia         KATL        13.9
2015-01-02      1/2/2015  Atlanta     6.0  Georgia         KATL         9.4
2015-01-03      1/3/2015  Atlanta     6.0  Georgia         KATL        16.1
2015-01-04      1/4/2015  Atlanta     6.0  Georgia         KATL        17.8
2015-01-05      1/5/2015  Atlanta     6.0  Georgia         KATL         8.9
...                  ...      ...     ...      ...          ...         ...
2021-04-16     4/16/2021  Atlanta     6.0  Georgia         KATL        19.4
2021-04-17     4/17/2021  Atlanta     6.0  Georgia         KATL        21.7
2021-04-18     4/18/2021  Atlanta     6.0  Georgia         KATL        22.2
2021-04-19     4/19/2021  Atlanta     6.0  Georgia         KATL        21.7
2021-04-20     4/20/2021  Atlanta     6.0  Georgia         KATL        23.3

            temp_mean_c  temp_min_c
2015-01-01     6.758333         0.0
2015-01-02     8.116667         6.7
2015-01-03    11.154167         8.9
2015-01-04    14.279167         6.7
2015-01-05     5.045833         1.1
...                 ...         ...
2021-04-16    14.695833        10.0
2021-04-17    16.795833        12.8
2021-04-18    16.720833        11.7
2021-04-19    16.154167        11.1
2021-04-20    17.491667        12.2

[2302 rows x 8 columns]
<ipython-input-312-3dd97330f7aa>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sTime = pd.Series(index=time)

In [ ]:
# Flag missing dates as missing

# Find rows where data is missing
missingKATL = KATL.loc[KATL['missing'].isna() ]

# Set values in missing subset 
# Set missing to 1
missingKATL.loc[:,'missing'] = '1'

# Set name to station name
missingKATL.loc[:, 'name'] = 'Atlanta'

# Set region to station region
missingKATL.loc[:, 'region'] = '6'

# Set state to station state
missingKATL.loc[:, 'state'] = 'Georgia'

# Set station_code to station
missingKATL.loc[:, 'station_code'] = 'KATL'

# Remove empty columns of temp data
missingKATL.drop(columns=['temp_min_c', 'temp_mean_c', 'temp_max_c', 'location_date'], inplace=True, axis=0)

print(missingKATL)

In [ ]:
#Interpolate temp_min_c within KATL set 
KATLinterpolMIN = KATL['temp_min_c'].interpolate()
print(KATLinterpolMIN)

In [ ]:
#Interpolate temp_max_c within KATL set 
KATLinterpolMAX = KATL['temp_max_c'].interpolate()
print(KATLinterpolMAX)

In [ ]:
#Interpolate temp_mean_c within KATL set 
KATLinterpolMEAN = KATL['temp_mean_c'].interpolate()
print(KATLinterpolMEAN)

In [ ]:
# Concatenate sub-frames of interpolated temperature data into single frame
KATLinterpol = pd.concat([KATLinterpolMAX, KATLinterpolMIN, KATLinterpolMEAN], axis=1)

print(KATLinterpol)

In [ ]:
# Create new empty frame and integrate missing date row frames with interpolated temp frame
KATL2 = []
KATL2 = pd.DataFrame(s)
KATL2 = pd.concat([KATLinterpol, missingKATL], axis=1)
KATL2 = KATL2.dropna()
print(KATL2)

In [ ]:
# Drop all NaN rows from original station subframe and combine cleaned and interpolated subframes
KATL = KATL.dropna()
KATL3 = pd.concat([KATL, KATL2], axis=0)
# Review complete sub-frame of KATL 
print(KATL3)

In [ ]:
# Add column indicating if data was missing
KSTL['missing'] = False

# Add missing dates to station sub-frame
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
KSTL = pd.concat([KSTL, sTime[~sTime.index.isin(KSTL.index)]]).sort_index()
KSTL = KSTL.drop([0],axis=1)

# Find rows where data is missing
missingKSTL = KSTL.loc[KSTL['missing'].isna() ]
# Set values in missing subset 
# Set missing to 1
missingKSTL.loc[:,'missing'] = True

# Set name to station name
missingKSTL.loc[:, 'name'] = 'St Louis/Lambert'

# Set region to station region
missingKSTL.loc[:, 'region'] = '2'

# Set state to station state
missingKSTL.loc[:, 'state'] = 'Missouri'

# Set station_code to station
missingKSTL.loc[:, 'station_code'] = 'KSTL'

# Remove empty columns of temp data
missingKSTL.drop(columns=['temp_min_c', 'temp_mean_c', 'temp_max_c', 'location_date'], inplace=True, axis=0)

#Interpolate temp_min_c within KSTL set 
KSTLinterpolMIN = KSTL['temp_min_c'].interpolate()

#Interpolate temp_max_c within KSTL set 
KSTLinterpolMAX = KSTL['temp_max_c'].interpolate()

#Interpolate temp_mean_c within KSTL set 
KSTLinterpolMEAN = KSTL['temp_mean_c'].interpolate()

# Concatenate sub-frames of interpolated temperature data into single frame
KSTLinterpol = pd.concat([KSTLinterpolMAX, KSTLinterpolMIN, KSTLinterpolMEAN], axis=1)

# Create new empty frame and integrate missing date row frames with interpolated temp frame
KSTL2 = []
KSTL2 = pd.DataFrame(s)
KSTL2 = pd.concat([KSTLinterpol, missingKSTL], axis=1)
KSTL2 = KSTL2.dropna()

# Drop all NaN rows from original station subframe and combine cleaned and interpolated subframes
KSTL = KSTL.dropna()
KSTL3 = pd.concat([KSTL, KSTL2], axis=0)
# Review complete sub-frame of KSTL 
print(KSTL3)

In [ ]:
# Append all wrangled station dataframes into one
df3 = pd.DataFrame(KATL3)

df3 = pd.concat([df3, KBDL3, KBNA3, KBOI3, KBOS3, KBUF3, KBUR3, KBWI3, KCMH3, KCQT3], axis=0)
df3 = pd.concat([df3, KDCA3, KDEN3, KDFW3, KDTW3, KFAT3, KGEG3, KIAD3, KIAH3, KLAS3], axis=0)
df3 = pd.concat([df3, KLIT3, KMEM3, KMSP3, KMSY3, KORD3, KPDX3, KPHL3, KPHX3, KPIT3], axis=0)
df3 = pd.concat([df3, KRDU3, KRIC3, KSAC3, KSEA3, KSFO3, KSLC3, KSTL3, KALB3, KCVG3], axis=0)
df3 = pd.concat([df3, KPWM3, KLGA3], axis=0)

In [ ]:
df3.to_csv(path_or_buf='../SynMax/Temp Data.csv')

In [ ]:
print(df)

In [ ]:
dfWeights = pd.DataFrame(s)
print(dfWeights)

In [ ]:
# Create a population weighted daily temperature timeseries - Population data is old and inaccurate 
    # Add population column to stations - 
    # Albany (97,879 in 2011), Covington (use Cincinnati population), Portland Maine (66240 in 2011), Windsor Locks (12498 in 2010 census) missing from pop data
    # Las Vegas AND North Las Vegas present in pop data (Las Vegas metro area population MUCH larger than either one listed in given table)
    # Raleigh and Durham present in pop data
    # St Louis vs St. Louis
    # Nearby stations - Divide population by two to give equal weight to both stations in the area
        # Washington vs Wash DC/Dulles, KDCA (Arlington Virginia) and KIAD (Dulles, VA)
        # Burbank vs Los Angeles
        # Las Vegas vs North Las Vegas
        
    # Create regional weight column 
    # Create national weight column 
    # Weight of station within region vs other stations - Average regional min, max, mean of any particular day
    # Weight of station within country vs other stations - Average national min, max, mean of any particular day
    # Create seasonal average column
    # Create seasonal high column
    # Create seasonal low column
    # Create monthly high column
    # Create monthly low column
    # Create monthly mean column

In [ ]:
# 1 Someone who wants to know how the temperature compares to the seasonal average as well as high and low cases. 

# 2 Someone who wants to view the monthly average, min and max. 

# 3 Someone who wants to graphically see what data is missing or projected.

In [ ]:
# Here are 4 ways to select all rows with NaN values in Pandas DataFrame:

# (1) Using isna() to select all rows with NaN under a single DataFrame column:
# df[df['column name'].isna()]

# (2) Using isnull() to select all rows with NaN under a single DataFrame column:
# df[df['column name'].isnull()]

# (3) Using isna() to select all rows with NaN under an entire DataFrame:
# df[df.isna().any(axis=1)]

# (4) Using isnull() to select all rows with NaN under an entire DataFrame:
# df[df.isnull().any(axis=1)]

In [ ]:
df3.describe

In [ ]:
# Create subframe with population data and weights for calculations

type(stations)

dfStations = pd.DataFrame(stations)

In [ ]:

dfStations['population'] = 0
dfStations['nationalweight'] = 0
dfStations['regionalweight'] = 0

print(dfStations)

In [256]:
# Add 2015 metropolitan area populations - split populations by two where metropolitan area has two weather stations - www.census.gov & macrotrends.net
dfStations.at[0, 'population'] = 5162000
dfStations.at[1, 'population'] = 1211324
dfStations.at[2, 'population'] = 1775583
dfStations.at[3, 'population'] = 399000
dfStations.at[4, 'population'] = 4261000
dfStations.at[5, 'population'] = 259517
dfStations.at[6, 'population'] = 12345000/2
dfStations.at[7, 'population'] = 2790053
dfStations.at[8, 'population'] = 1510000
dfStations.at[9, 'population'] = 12345000/2
dfStations.at[10, 'population'] = 1693000
dfStations.at[11, 'population'] = 6100000/2
dfStations.at[12, 'population'] = 2608000
dfStations.at[13, 'population'] = 5723000
dfStations.at[14, 'population'] = 3648000
dfStations.at[15, 'population'] = 714000
dfStations.at[16, 'population'] = 419000
dfStations.at[17, 'population'] = 6100000/2
dfStations.at[18, 'population'] = 5660000
dfStations.at[19, 'population'] = 2280000
dfStations.at[20, 'population'] = 18648000
dfStations.at[21, 'population'] = 474000
dfStations.at[22, 'population'] = 1109000
dfStations.at[23, 'population'] = 2800000
dfStations.at[24, 'population'] = 950000
dfStations.at[25, 'population'] = 8770000
dfStations.at[26, 'population'] = 2008000
dfStations.at[27, 'population'] = 5602000
dfStations.at[28, 'population'] = 4077000
dfStations.at[29, 'population'] = 1724000
dfStations.at[30, 'population'] = 66490
dfStations.at[31, 'population'] = 1145000
dfStations.at[32, 'population'] = 1033000
dfStations.at[33, 'population'] = 1927000
dfStations.at[34, 'population'] = 3259000
dfStations.at[35, 'population'] = 3309000
dfStations.at[36, 'population'] = 1099000
dfStations.at[37, 'population'] = 2190000
dfStations.at[38, 'population'] = 615000
print(dfStations)

       0  population  nationalweight  regionalweight
0   KATL     5162000               0               0
1   KBDL     1211324               0               0
2   KBNA     1775583               0               0
3   KBOI      399000               0               0
4   KBOS     4261000               0               0
5   KBUF      259517               0               0
6   KBUR     6172500               0               0
7   KBWI     2790053               0               0
8   KCMH     1510000               0               0
9   KCQT     6172500               0               0
10  KCVG     1693000               0               0
11  KDCA     3050000               0               0
12  KDEN     2608000               0               0
13  KDFW     5723000               0               0
14  KDTW     3648000               0               0
15  KFAT      714000               0               0
16  KGEG      419000               0               0
17  KIAD     3050000               0               0
18  KIAH     5660000               0               0
19  KLAS     2280000               0               0
20  KLGA    18648000               0               0
21  KLIT      474000               0               0
22  KMEM     1109000               0               0
23  KMSP     2800000               0               0
24  KMSY      950000               0               0
25  KORD     8770000               0               0
26  KPDX     2008000               0               0
27  KPHL     5602000               0               0
28  KPHX     4077000               0               0
29  KPIT     1724000               0               0
30  KPWM       66490               0               0
31  KRDU     1145000               0               0
32  KRIC     1033000               0               0
33  KSAC     1927000               0               0
34  KSEA     3259000               0               0
35  KSFO     3309000               0               0
36  KSLC     1099000               0               0
37  KSTL     2190000               0               0
38  KALB      615000               0               0

In [295]:
totalPop = dfStations['population'].sum()

print(totalPop)

119363967

In [296]:
dfStations.assign(nationalweight = dfStations['population']/totalPop)

   station_code  population  nationalweight  regionalweight
0          KATL     5162000        0.043246               0
1          KBDL     1211324        0.010148               0
2          KBNA     1775583        0.014875               0
3          KBOI      399000        0.003343               0
4          KBOS     4261000        0.035698               0
5          KBUF      259517        0.002174               0
6          KBUR     6172500        0.051712               0
7          KBWI     2790053        0.023374               0
8          KCMH     1510000        0.012650               0
9          KCQT     6172500        0.051712               0
10         KCVG     1693000        0.014184               0
11         KDCA     3050000        0.025552               0
12         KDEN     2608000        0.021849               0
13         KDFW     5723000        0.047946               0
14         KDTW     3648000        0.030562               0
15         KFAT      714000        0.005982               0
16         KGEG      419000        0.003510               0
17         KIAD     3050000        0.025552               0
18         KIAH     5660000        0.047418               0
19         KLAS     2280000        0.019101               0
20         KLGA    18648000        0.156228               0
21         KLIT      474000        0.003971               0
22         KMEM     1109000        0.009291               0
23         KMSP     2800000        0.023458               0
24         KMSY      950000        0.007959               0
25         KORD     8770000        0.073473               0
26         KPDX     2008000        0.016822               0
27         KPHL     5602000        0.046932               0
28         KPHX     4077000        0.034156               0
29         KPIT     1724000        0.014443               0
30         KPWM       66490        0.000557               0
31         KRDU     1145000        0.009593               0
32         KRIC     1033000        0.008654               0
33         KSAC     1927000        0.016144               0
34         KSEA     3259000        0.027303               0
35         KSFO     3309000        0.027722               0
36         KSLC     1099000        0.009207               0
37         KSTL     2190000        0.018347               0
38         KALB      615000        0.005152               0

In [294]:
dfStations.columns = ['station_code', 'population', 'nationalweight', 'regionalweight']
dfStations.assign(nationalweight = dfStations['population']/totalPop)
print(dfStations)

   station_code  population  nationalweight  regionalweight
0          KATL     5162000               0               0
1          KBDL     1211324               0               0
2          KBNA     1775583               0               0
3          KBOI      399000               0               0
4          KBOS     4261000               0               0
5          KBUF      259517               0               0
6          KBUR     6172500               0               0
7          KBWI     2790053               0               0
8          KCMH     1510000               0               0
9          KCQT     6172500               0               0
10         KCVG     1693000               0               0
11         KDCA     3050000               0               0
12         KDEN     2608000               0               0
13         KDFW     5723000               0               0
14         KDTW     3648000               0               0
15         KFAT      714000               0               0
16         KGEG      419000               0               0
17         KIAD     3050000               0               0
18         KIAH     5660000               0               0
19         KLAS     2280000               0               0
20         KLGA    18648000               0               0
21         KLIT      474000               0               0
22         KMEM     1109000               0               0
23         KMSP     2800000               0               0
24         KMSY      950000               0               0
25         KORD     8770000               0               0
26         KPDX     2008000               0               0
27         KPHL     5602000               0               0
28         KPHX     4077000               0               0
29         KPIT     1724000               0               0
30         KPWM       66490               0               0
31         KRDU     1145000               0               0
32         KRIC     1033000               0               0
33         KSAC     1927000               0               0
34         KSEA     3259000               0               0
35         KSFO     3309000               0               0
36         KSLC     1099000               0               0
37         KSTL     2190000               0               0
38         KALB      615000               0               0

In [277]:
totalWeight = dfStations['nationalweight'].sum()
print(totalWeight)

0

In [258]:
from numpy import average

In [271]:
# Calculated weighted average national MAX temperature by day



weighted_avg_m3 = round(average( df3['temp_max_c'], axis=0, weights = dfStations['population']),2)

weighted_avg_m3

IndexError: tuple index out of range

In [ ]:
df3.to_csv(path_or_buf='../SynMax/Temp Data.csv')

In [304]:
# Group df3 by station_code
df3.groupby(['location_date', 'station_code'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)

                            temp_mean_c  temp_min_c  temp_max_c
location_date station_code
1/1/2015      KALB            -3.362500        -7.2         0.0
              KATL             6.758333         0.0        13.9
              KBDL            -1.991667        -7.8         1.1
              KBNA             1.141667        -5.0         5.0
              KBOI           -11.070833       -13.9        -8.0
...                                 ...         ...         ...
9/9/2020      KSAC            22.829167        17.2        28.9
              KSEA            22.816667        15.0        31.7
              KSFO            16.304167        15.0        17.8
              KSLC            11.416667         6.1        17.2
              KSTL            23.937500        19.4        29.4

[89219 rows x 3 columns]

In [ ]:
import matplotlib.pyplot as plt

df3.plot()

In [310]:
df7 = pd.Series(s)

In [311]:
print(df7)

2015-01-01   NaN
2015-01-02   NaN
2015-01-03   NaN
2015-01-04   NaN
2015-01-05   NaN
              ..
2021-04-16   NaN
2021-04-17   NaN
2021-04-18   NaN
2021-04-19   NaN
2021-04-20   NaN
Freq: D, Length: 2302, dtype: float64

In [302]:
df3.loc[df3.station_code == 'KATL', :].head()

,location_date,missing,name,region,state,station_code,temp_max_c,temp_mean_c,temp_min_c,population,nationalweight,regionalweight,NWtempMIN,NWtempMAX,NWtempMEAN,RWtempMIN,RWtempMAX,RWtempMEAN
2015-01-01,1/1/2015,0,Atlanta,6.0,Georgia,KATL,13.9,6.758333,0.0,0,0,0,0,0,0,0,0,0
2015-01-02,1/2/2015,0,Atlanta,6.0,Georgia,KATL,9.4,8.116667,6.7,0,0,0,0,0,0,0,0,0
2015-01-03,1/3/2015,0,Atlanta,6.0,Georgia,KATL,16.1,11.154167,8.9,0,0,0,0,0,0,0,0,0
2015-01-04,1/4/2015,0,Atlanta,6.0,Georgia,KATL,17.8,14.279167,6.7,0,0,0,0,0,0,0,0,0
2015-01-05,1/5/2015,0,Atlanta,6.0,Georgia,KATL,8.9,5.045833,1.1,0,0,0,0,0,0,0,0,0

In [ ]:
# Weighted daily temperature vs seasonal average, season high, and season low