In [6]:
import pandas as pd

In [53]:
import numpy as np

In [40]:
df = pd.read_csv('../SynMax/Population Data.csv')

In [43]:
df2 = pd.read_csv('../Synmax/Temperature Data.csv')

In [44]:
type(df2)

pandas.core.frame.DataFrame

In [41]:
type(df)

pandas.core.frame.DataFrame

In [42]:
df.shape

(285, 5)

In [45]:
df2.shape

(89219, 9)

In [46]:
df.head()

         City          State  population       Lon      Lat
0   Henderson         Nevada      260068 -115.0375  36.0122
1  Manchester  New Hampshire      109830  -71.4439  42.9847
2   Elizabeth     New Jersey      125660  -74.1935  40.6663
3      Newark     New Jersey      277540  -74.1726  40.7242
4    Paterson     New Jersey      146427  -74.1628  40.9147

In [47]:
df2.head()

,name,country_name,country_code,continent,station_code,location_date,temp_mean_c,temp_min_c,temp_max_c
0,Atlanta,UnitedStates,USA,North America,KATL,4/20/2021,17.491667,12.2,23.3
1,Windsor Locks,UnitedStates,USA,North America,KBDL,4/20/2021,13.887500,3.9,22.2
2,Nashville,UnitedStates,USA,North America,KBNA,4/20/2021,15.175000,6.7,23.3
3,Boise,UnitedStates,USA,North America,KBOI,4/20/2021,9.329167,1.7,15.6
4,Boston,UnitedStates,USA,North America,KBOS,4/20/2021,16.716667,10.0,23.9

In [48]:
df

                City          State  population       Lon      Lat
0          Henderson         Nevada      260068 -115.0375  36.0122
1         Manchester  New Hampshire      109830  -71.4439  42.9847
2          Elizabeth     New Jersey      125660  -74.1935  40.6663
3             Newark     New Jersey      277540  -74.1726  40.7242
4           Paterson     New Jersey      146427  -74.1628  40.9147
..               ...            ...         ...       ...      ...
280            Miami        Florida      408750  -80.2086  25.7752
281        Hollywood        Florida      143357  -80.1646  26.0311
282  Fort Lauderdale        Florida      168528  -80.1439  26.1413
283    Pompano Beach        Florida      101617  -80.1290  26.2426
284  West Palm Beach        Florida      101043  -80.1266  26.7483

[285 rows x 5 columns]

In [49]:
df2

,name,country_name,country_code,continent,station_code,location_date,temp_mean_c,temp_min_c,temp_max_c
0,Atlanta,UnitedStates,USA,North America,KATL,4/20/2021,17.491667,12.2,23.3
1,Windsor Locks,UnitedStates,USA,North America,KBDL,4/20/2021,13.887500,3.9,22.2
2,Nashville,UnitedStates,USA,North America,KBNA,4/20/2021,15.175000,6.7,23.3
3,Boise,UnitedStates,USA,North America,KBOI,4/20/2021,9.329167,1.7,15.6
4,Boston,UnitedStates,USA,North America,KBOS,4/20/2021,16.716667,10.0,23.9
...,...,...,...,...,...,...,...,...,...
89214,Sacramento/Execu,UnitedStates,USA,North America,KSAC,1/1/2015,3.500000,-1.7,10.6
89215,Portland,UnitedStates,USA,North America,KPWM,1/1/2015,-3.454167,-7.8,-0.6
89216,Raleigh/Durham,UnitedStates,USA,North America,KRDU,1/1/2015,3.291667,-4.4,10.6
89217,Pittsburgh,UnitedStates,USA,North America,KPIT,1/1/2015,-2.570833,-6.7,1.7
89218,Phoenix/Sky HRBR,UnitedStates,USA,North America,KPHX,1/1/2015,4.354167,1.7,7.2

In [21]:
df.columns

Index(['City', 'State', 'population', 'Lon', 'Lat'], dtype='object')

In [22]:
df2.columns

Index(['name', 'country_name', 'country_code', 'continent', 'station_code',
       'location_date', 'temp_mean_c', 'temp_min_c', 'temp_max_c'],
      dtype='object')

In [23]:
df.values

array([['Henderson', 'Nevada', 260068, -115.0375, 36.0122],
       ['Manchester', 'New Hampshire', 109830, -71.4439, 42.9847],
       ['Elizabeth', 'New Jersey', 125660, -74.1935, 40.6663],
       ...,
       ['Fort Lauderdale', 'Florida', 168528, -80.1439, 26.1413],
       ['Pompano Beach', 'Florida', 101617, -80.129, 26.2426],
       ['West Palm Beach', 'Florida', 101043, -80.1266, 26.7483]],
      dtype=object)

In [24]:
df2.values

array([['Atlanta', 'UnitedStates', 'USA', ..., 17.4916667, 12.2, 23.3],
       ['Windsor Locks', 'UnitedStates', 'USA', ..., 13.8875, 3.9, 22.2],
       ['Nashville', 'UnitedStates', 'USA', ..., 15.175, 6.7, 23.3],
       ...,
       ['Raleigh/Durham', 'UnitedStates', 'USA', ..., 3.2916667, -4.4,
        10.6],
       ['Pittsburgh', 'UnitedStates', 'USA', ..., -2.5708333, -6.7, 1.7],
       ['Phoenix/Sky HRBR', 'UnitedStates', 'USA', ..., 4.3541667, 1.7,
        7.2]], dtype=object)

In [55]:
df2bydate = df2.groupby(['location_date', 'name'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)

In [56]:
df2bydate

                                temp_mean_c  temp_min_c  temp_max_c
location_date name
1/1/2015      Albany              -3.362500        -7.2         0.0
              Atlanta              6.758333         0.0        13.9
              Baltimore           -0.345833        -7.8         6.1
              Boise              -11.070833       -13.9        -8.0
              Boston              -2.329167        -5.6         0.6
...                                     ...         ...         ...
9/9/2020      Spokane             17.358333         8.9        26.1
              St Louis/Lambert    23.937500        19.4        29.4
              Wash DC/Dulles      23.179167        20.0        26.1
              Washington          24.229167        22.8        26.1
              Windsor Locks       22.425000        18.3        27.8

[86932 rows x 3 columns]