In [834]:
import pandas as pd

In [835]:
import numpy as np

In [836]:
df = pd.read_csv('../SynMax/Population Data.csv')

In [837]:
df2 = pd.read_csv('../Synmax/Temperature Data.csv')

In [838]:
dfUScities = pd.read_csv('../Synmax/uscities.csv')

#import from https://simplemaps.com/data/us-cities to check both dataframes against and sort into regions

In [839]:
df2.head()

,name,station_code,location_date,temp_mean_c,temp_min_c,temp_max_c,state,region
0,Atlanta,KATL,4/20/2021,17.491667,12.2,23.3,NaN,NaN
1,Windsor Locks,KBDL,4/20/2021,13.887500,3.9,22.2,NaN,NaN
2,Nashville,KBNA,4/20/2021,15.175000,6.7,23.3,NaN,NaN
3,Boise,KBOI,4/20/2021,9.329167,1.7,15.6,NaN,NaN
4,Boston,KBOS,4/20/2021,16.716667,10.0,23.9,NaN,NaN

In [840]:
df.columns

Index(['City', 'State', 'population', 'Lon', 'Lat', 'region'], dtype='object')

In [841]:
df2.columns

Index(['name', 'station_code', 'location_date', 'temp_mean_c', 'temp_min_c',
       'temp_max_c', 'state', 'region'],
      dtype='object')

In [842]:
df.values

array([['Henderson', 'Nevada', 260068, -115.0375, 36.0122, nan],
       ['Manchester', 'New Hampshire', 109830, -71.4439, 42.9847, nan],
       ['Elizabeth', 'New Jersey', 125660, -74.1935, 40.6663, nan],
       ...,
       ['Fort Lauderdale', 'Florida', 168528, -80.1439, 26.1413, nan],
       ['Pompano Beach', 'Florida', 101617, -80.129, 26.2426, nan],
       ['West Palm Beach', 'Florida', 101043, -80.1266, 26.7483, nan]],
      dtype=object)

In [843]:
df2.values

array([['Atlanta', 'KATL', '4/20/2021', ..., 23.3, nan, nan],
       ['Windsor Locks', 'KBDL', '4/20/2021', ..., 22.2, nan, nan],
       ['Nashville', 'KBNA', '4/20/2021', ..., 23.3, nan, nan],
       ...,
       ['Raleigh/Durham', 'KRDU', '1/1/2015', ..., 10.6, nan, nan],
       ['Pittsburgh', 'KPIT', '1/1/2015', ..., 1.7, nan, nan],
       ['Phoenix/Sky HRBR', 'KPHX', '1/1/2015', ..., 7.2, nan, nan]],
      dtype=object)

In [844]:
df2bydate = df2.groupby(['location_date', 'name'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)

In [845]:
df2bydate

                                temp_mean_c  temp_min_c  temp_max_c
location_date name
1/1/2015      Albany              -3.362500        -7.2         0.0
              Atlanta              6.758333         0.0        13.9
              Baltimore           -0.345833        -7.8         6.1
              Boise              -11.070833       -13.9        -8.0
              Boston              -2.329167        -5.6         0.6
...                                     ...         ...         ...
9/9/2020      Spokane             17.358333         8.9        26.1
              St Louis/Lambert    23.937500        19.4        29.4
              Wash DC/Dulles      23.179167        20.0        26.1
              Washington          24.229167        22.8        26.1
              Windsor Locks       22.425000        18.3        27.8

[86932 rows x 3 columns]

In [846]:
# Check for unique cities in temp data
cnt2 = 0
cities2 = []
for i in range(0, len(df2)):
    if df2['name'][i] not in cities2:
        cities2.append(df2['name'][i])
        cnt2 += 1

print("No of unique cities:", cnt2)
print("Cities:", cities2)

No of unique cities: 38
Cities: ['Atlanta', 'Windsor Locks', 'Nashville', 'Boise', 'Boston', 'Buffalo', 'Burbank', 'Baltimore', 'Columbus', 'Los Angeles', 'Covington', 'Washington', 'Denver', 'Dallas', 'Detroit/Wayne', 'Fresno', 'Spokane', 'Wash DC/Dulles', 'Houston', 'Las Vegas', 'NYC/LaGuardia', 'Little Rock', 'Memphis', 'Minneapolis', 'New Orleans', "Chicago O'Hare", 'Portland', 'Philadelphia', 'Phoenix/Sky HRBR', 'Pittsburgh', 'Raleigh/Durham', 'Richmond', 'Sacramento/Execu', 'Seattle', 'San Francisco', 'Salt Lake City', 'St Louis/Lambert', 'Albany']

In [847]:
# Check for unique cities in pop data
cnt1 = 0
cities1 = []
for i in range(0, len(df)):
    if df['City'][i] not in cities1:
        cities1.append(df['City'][i])
        cnt1 += 1

print("No of unique cities:", cnt1)
print("Cities:", cities1)

No of unique cities: 274
Cities: ['Henderson', 'Manchester', 'Elizabeth', 'Newark', 'Paterson', 'Jersey City', 'Albuquerque', 'Buffalo', 'Rochester', 'Syracuse', 'New York', 'Yonkers', 'Charlotte', 'Winston–Salem', 'High Point', 'Greensboro', 'Fayetteville', 'Durham', 'Cary', 'Raleigh', 'Wilmington', 'Fargo', 'Cincinnati', 'Dayton', 'Toledo', 'Columbus', 'Cleveland', 'Akron', 'Oklahoma City', 'Norman', 'Tulsa', 'Broken Arrow', 'Eugene', 'Salem', 'Portland', 'Gresham', 'Erie', 'Pittsburgh', 'Allentown', 'Philadelphia', 'Providence', 'Columbia', 'Charleston', 'Sioux Falls', 'Memphis', 'Clarksville', 'Nashville', 'Murfreesboro', 'Chattanooga', 'Knoxville', 'El Paso', 'Odessa', 'Midland', 'Lubbock', 'Amarillo', 'Abilene', 'Laredo', 'Wichita Falls', 'Killeen', 'Round Rock', 'Brownsville', 'Fort Worth', 'Waco', 'Corpus Christi', 'Denton', 'Arlington', 'Grand Prairie', 'Irving', 'Carrollton', 'Frisco', 'Dallas', 'Plano', 'Richardson', 'McKinney', 'Garland', 'Mesquite', 'Houston', 'Pasadena', 'Beaumont', 'West Valley City', 'West Jordan', 'Salt Lake City', 'Provo', 'Richmond', 'Alexandria', 'Newport News', 'Chesapeake', 'Hampton', 'Norfolk', 'Virginia Beach', 'Vancouver', 'Tacoma', 'Seattle', 'Kent', 'Everett', 'Bellevue', 'Spokane', 'Madison', 'Green Bay', 'Milwaukee', 'Costa Mesa', 'West Covina', 'Santa Ana', 'Orange', 'Irvine', 'Pomona', 'Anaheim', 'Ontario', 'Rancho Cucamonga', 'Corona', 'Fontana', 'Riverside', 'Rialto', 'Victorville', 'Oceanside', 'San Bernardino', 'Carlsbad', 'Moreno Valley', 'Murrieta', 'San Diego', 'Temecula', 'Escondido', 'Chula Vista', 'El Cajon', 'Lakewood', 'Arvada', 'Fort Collins', 'Westminster', 'Thornton', 'Denver', 'Centennial', 'Colorado Springs', 'Pueblo', 'Aurora', 'Stamford', 'Bridgeport', 'Atlanta', 'Athens', 'Augusta', 'Savannah', 'Honolulu', 'Boise', 'Springfield', 'Peoria', 'Rockford', 'Elgin', 'Naperville', 'Joliet', 'Chicago', 'Evansville', 'South Bend', 'Indianapolis', 'Fort Wayne', 'Des Moines', 'Cedar Rapids', 'Davenport', 'Wichita', 'Topeka', 'Olathe', 'Kansas City', 'Overland Park', 'Louisville', 'Lexington', 'Shreveport', 'Lafayette', 'Baton Rouge', 'New Orleans', 'Baltimore', 'Worcester', 'Lowell', 'Cambridge', 'Boston', 'Grand Rapids', 'Lansing', 'Ann Arbor', 'Flint', 'Detroit', 'Sterling Heights', 'Warren', 'Minneapolis', 'Saint Paul', 'Jackson', 'Independence', 'St. Louis', 'Billings', 'Lincoln', 'Omaha', 'Reno', 'Las Vegas', 'North Las Vegas', 'San Antonio', 'McAllen', 'Austin', 'Mobile', 'Birmingham', 'Huntsville', 'Montgomery', 'Anchorage', 'Surprise', 'Glendale', 'Phoenix', 'Tempe', 'Chandler', 'Scottsdale', 'Gilbert', 'Mesa', 'Tucson', 'Little Rock', 'San Francisco', 'Santa Rosa', 'Daly City', 'Berkeley', 'Vallejo', 'Oakland', 'Hayward', 'Fairfield', 'Sunnyvale', 'Concord', 'Santa Clara', 'Fremont', 'San Jose', 'Antioch', 'Salinas', 'Sacramento', 'Elk Grove', 'Stockton', 'Roseville', 'Modesto', 'Santa Maria', 'Fresno', 'Visalia', 'San Buenaventura (Ventura)', 'Oxnard', 'Bakersfield', 'Thousand Oaks', 'Simi Valley', 'Santa Clarita', 'Los Angeles', 'Inglewood', 'Torrance', 'Burbank', 'Lancaster', 'Long Beach', 'Downey', 'Palmdale', 'Norwalk', 'El Monte', 'Huntington Beach', 'Garden Grove', 'Fullerton', 'Waterbury', 'New Haven', 'Hartford', 'Washington', 'Tallahassee', 'Clearwater', 'Saint Petersburg', 'Tampa', 'Gainesville', 'Cape Coral', 'Jacksonville', 'Orlando', 'Palm Bay', 'Port Saint Lucie', 'Pembroke Pines', 'Miramar', 'Hialeah', 'Coral Springs', 'Miami Gardens', 'Miami', 'Hollywood', 'Fort Lauderdale', 'Pompano Beach', 'West Palm Beach']

In [848]:
Pacific = ['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska']
Mountain = ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico']
WestNorthCentral = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
WestSouthCentral = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana']
EastNorthCentral = ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio']
EastSouthCentral = ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama']
SouthAtlantic = ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia']
MidAtlantic = ['Pennsylvania', 'New York', 'New Jersey']
NorthAtlantic = ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']

statecount = len(Pacific) + len(Mountain) + len(WestNorthCentral) + len(WestSouthCentral) + len(EastNorthCentral) + len(EastSouthCentral) + len(SouthAtlantic) + len(MidAtlantic) + len(NorthAtlantic)

print(statecount)

51

In [849]:
regions = [Pacific, Mountain, WestNorthCentral, WestSouthCentral, EastNorthCentral, EastSouthCentral, SouthAtlantic, MidAtlantic, NorthAtlantic]
print(regions)

[['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska'], ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico'], ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'], ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana'], ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio'], ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama'], ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia'], ['Pennsylvania', 'New York', 'New Jersey'], ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']]

In [850]:
# Add boolean column indicating interpolated row
# Weigh city temp entries by population versus entire region
# Add missing dates to cities with temperature data in df2

In [851]:
# Check for duplicate city names with different station code - 39 stations 38 cities # KPDX Portland Oregon and KPWM Portland Maine
cnt3 = 0
stations = []
for i in range(0, len(df2)):
    if df2['station_code'][i] not in stations:
        stations.append(df2['station_code'][i])
        cnt3 += 1

print("No of unique stations:", cnt3)
print("Stations:", stations)

No of unique stations: 39
Stations: ['KATL', 'KBDL', 'KBNA', 'KBOI', 'KBOS', 'KBUF', 'KBUR', 'KBWI', 'KCMH', 'KCQT', 'KCVG', 'KDCA', 'KDEN', 'KDFW', 'KDTW', 'KFAT', 'KGEG', 'KIAD', 'KIAH', 'KLAS', 'KLGA', 'KLIT', 'KMEM', 'KMSP', 'KMSY', 'KORD', 'KPDX', 'KPHL', 'KPHX', 'KPIT', 'KPWM', 'KRDU', 'KRIC', 'KSAC', 'KSEA', 'KSFO', 'KSLC', 'KSTL', 'KALB']

In [852]:
# Assign states to stations
df2.loc[df2['station_code']== 'KBDL', ['state']] = 'Connecticut'
df2.loc[df2['station_code']== 'KATL', ['state']] = 'Georgia'
df2.loc[df2['station_code']== 'KBNA', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KBOI', ['state']] = 'Idaho'
df2.loc[df2['station_code']== 'KBOS', ['state']] = 'Massachusetts'
df2.loc[df2['station_code']== 'KBUF', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KBUR', ['state']] = 'California'
df2.loc[df2['station_code']== 'KBWI', ['state']] = 'Maryland'
df2.loc[df2['station_code']== 'KCMH', ['state']] = 'Ohio'
df2.loc[df2['station_code']== 'KCQT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KCVG', ['state']] = 'Kentucky'
df2.loc[df2['station_code']== 'KDCA', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KDEN', ['state']] = 'Colorado'
df2.loc[df2['station_code']== 'KDFW', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KDTW', ['state']] = 'Michigan'
df2.loc[df2['station_code']== 'KFAT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KGEG', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KIAD', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KIAH', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KLAS', ['state']] = 'Nevada'
df2.loc[df2['station_code']== 'KLGA', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KLIT', ['state']] = 'Arkansas'
df2.loc[df2['station_code']== 'KMEM', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KMSP', ['state']] = 'Minnesota'
df2.loc[df2['station_code']== 'KMSY', ['state']] = 'Louisiana'
df2.loc[df2['station_code']== 'KORD', ['state']] = 'Illinois'
df2.loc[df2['station_code']== 'KPDX', ['state']] = 'Oregon'
df2.loc[df2['station_code']== 'KPHL', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPHX', ['state']] = 'Arizona'
df2.loc[df2['station_code']== 'KPIT', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPWM', ['state']] = 'Maine'
df2.loc[df2['station_code']== 'KRDU', ['state']] = 'North Carolina'
df2.loc[df2['station_code']== 'KRIC', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KSAC', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSEA', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KSFO', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSLC', ['state']] = 'Utah'
df2.loc[df2['station_code']== 'KSTL', ['state']] = 'Missouri'
df2.loc[df2['station_code']== 'KALB', ['state']] = 'New York'

In [865]:

# Assign states to regions in temperature dataset

region = []
for i in range(0, len(df2)):
    for j in range(0, len(regions)):
        if df2['state'][i] in regions[j]:
            region.append(j)
# Establish region column in temp table      
df2["region"] = region

In [866]:
# Assign states to regions in population dataset

region2 = []
for k in range(0, len(df)):
    for l in range(0, len(regions)):
        if df['State'][k] in regions[l]:
            region2.append(l)

# Establish region column in pop table          
df["region"] = region2

In [867]:
df2.to_csv(path_or_buf='../SynMax/Temp Data.csv')
df.to_csv(path_or_buf='../SynMax/Pop Data.csv')

AttributeError: 'function' object has no attribute 'to_csv'