In [1125]:
import pandas as pd

In [1126]:
import numpy as np

In [1127]:
df = pd.read_csv('../SynMax/Population Data.csv')

In [1128]:
df2 = pd.read_csv('../Synmax/Temperature Data.csv')

In [1129]:
dfUScities = pd.read_csv('../Synmax/uscities.csv')

#import from https://simplemaps.com/data/us-cities to check both dataframes against and sort into regions

In [1130]:
df2.head()

,name,station_code,location_date,temp_mean_c,temp_min_c,temp_max_c,state,region
0,Atlanta,KATL,4/20/2021,17.491667,12.2,23.3,NaN,NaN
1,Windsor Locks,KBDL,4/20/2021,13.887500,3.9,22.2,NaN,NaN
2,Nashville,KBNA,4/20/2021,15.175000,6.7,23.3,NaN,NaN
3,Boise,KBOI,4/20/2021,9.329167,1.7,15.6,NaN,NaN
4,Boston,KBOS,4/20/2021,16.716667,10.0,23.9,NaN,NaN

In [1131]:
df.columns

Index(['City', 'State', 'population', 'Lon', 'Lat', 'region'], dtype='object')

In [1132]:
df2.columns

Index(['name', 'station_code', 'location_date', 'temp_mean_c', 'temp_min_c',
       'temp_max_c', 'state', 'region'],
      dtype='object')

In [1133]:
df.values

array([['Henderson', 'Nevada', 260068, -115.0375, 36.0122, nan],
       ['Manchester', 'New Hampshire', 109830, -71.4439, 42.9847, nan],
       ['Elizabeth', 'New Jersey', 125660, -74.1935, 40.6663, nan],
       ...,
       ['Fort Lauderdale', 'Florida', 168528, -80.1439, 26.1413, nan],
       ['Pompano Beach', 'Florida', 101617, -80.129, 26.2426, nan],
       ['West Palm Beach', 'Florida', 101043, -80.1266, 26.7483, nan]],
      dtype=object)

In [1134]:
df2.values

array([['Atlanta', 'KATL', '4/20/2021', ..., 23.3, nan, nan],
       ['Windsor Locks', 'KBDL', '4/20/2021', ..., 22.2, nan, nan],
       ['Nashville', 'KBNA', '4/20/2021', ..., 23.3, nan, nan],
       ...,
       ['Raleigh/Durham', 'KRDU', '1/1/2015', ..., 10.6, nan, nan],
       ['Pittsburgh', 'KPIT', '1/1/2015', ..., 1.7, nan, nan],
       ['Phoenix/Sky HRBR', 'KPHX', '1/1/2015', ..., 7.2, nan, nan]],
      dtype=object)

In [1135]:
df2bydate = df2.groupby(['location_date', 'name'])[['temp_mean_c', 'temp_min_c', 'temp_max_c']].agg(np.mean)

In [1136]:
df2bydate

                                temp_mean_c  temp_min_c  temp_max_c
location_date name
1/1/2015      Albany              -3.362500        -7.2         0.0
              Atlanta              6.758333         0.0        13.9
              Baltimore           -0.345833        -7.8         6.1
              Boise              -11.070833       -13.9        -8.0
              Boston              -2.329167        -5.6         0.6
...                                     ...         ...         ...
9/9/2020      Spokane             17.358333         8.9        26.1
              St Louis/Lambert    23.937500        19.4        29.4
              Wash DC/Dulles      23.179167        20.0        26.1
              Washington          24.229167        22.8        26.1
              Windsor Locks       22.425000        18.3        27.8

[86932 rows x 3 columns]

In [1137]:
# Check for unique cities in temp data
cnt2 = 0
cities2 = []
for i in range(0, len(df2)):
    if df2['name'][i] not in cities2:
        cities2.append(df2['name'][i])
        cnt2 += 1

print("No of unique cities:", cnt2)
print("Cities:", cities2)

No of unique cities: 38
Cities: ['Atlanta', 'Windsor Locks', 'Nashville', 'Boise', 'Boston', 'Buffalo', 'Burbank', 'Baltimore', 'Columbus', 'Los Angeles', 'Covington', 'Washington', 'Denver', 'Dallas', 'Detroit/Wayne', 'Fresno', 'Spokane', 'Wash DC/Dulles', 'Houston', 'Las Vegas', 'NYC/LaGuardia', 'Little Rock', 'Memphis', 'Minneapolis', 'New Orleans', "Chicago O'Hare", 'Portland', 'Philadelphia', 'Phoenix/Sky HRBR', 'Pittsburgh', 'Raleigh/Durham', 'Richmond', 'Sacramento/Execu', 'Seattle', 'San Francisco', 'Salt Lake City', 'St Louis/Lambert', 'Albany']

In [1138]:
# Check for unique cities in pop data
cnt1 = 0
cities1 = []
for i in range(0, len(df)):
    if df['City'][i] not in cities1:
        cities1.append(df['City'][i])
        cnt1 += 1

print("No of unique cities:", cnt1)
print("Cities:", cities1)

No of unique cities: 274
Cities: ['Henderson', 'Manchester', 'Elizabeth', 'Newark', 'Paterson', 'Jersey City', 'Albuquerque', 'Buffalo', 'Rochester', 'Syracuse', 'New York', 'Yonkers', 'Charlotte', 'Winston–Salem', 'High Point', 'Greensboro', 'Fayetteville', 'Durham', 'Cary', 'Raleigh', 'Wilmington', 'Fargo', 'Cincinnati', 'Dayton', 'Toledo', 'Columbus', 'Cleveland', 'Akron', 'Oklahoma City', 'Norman', 'Tulsa', 'Broken Arrow', 'Eugene', 'Salem', 'Portland', 'Gresham', 'Erie', 'Pittsburgh', 'Allentown', 'Philadelphia', 'Providence', 'Columbia', 'Charleston', 'Sioux Falls', 'Memphis', 'Clarksville', 'Nashville', 'Murfreesboro', 'Chattanooga', 'Knoxville', 'El Paso', 'Odessa', 'Midland', 'Lubbock', 'Amarillo', 'Abilene', 'Laredo', 'Wichita Falls', 'Killeen', 'Round Rock', 'Brownsville', 'Fort Worth', 'Waco', 'Corpus Christi', 'Denton', 'Arlington', 'Grand Prairie', 'Irving', 'Carrollton', 'Frisco', 'Dallas', 'Plano', 'Richardson', 'McKinney', 'Garland', 'Mesquite', 'Houston', 'Pasadena', 'Beaumont', 'West Valley City', 'West Jordan', 'Salt Lake City', 'Provo', 'Richmond', 'Alexandria', 'Newport News', 'Chesapeake', 'Hampton', 'Norfolk', 'Virginia Beach', 'Vancouver', 'Tacoma', 'Seattle', 'Kent', 'Everett', 'Bellevue', 'Spokane', 'Madison', 'Green Bay', 'Milwaukee', 'Costa Mesa', 'West Covina', 'Santa Ana', 'Orange', 'Irvine', 'Pomona', 'Anaheim', 'Ontario', 'Rancho Cucamonga', 'Corona', 'Fontana', 'Riverside', 'Rialto', 'Victorville', 'Oceanside', 'San Bernardino', 'Carlsbad', 'Moreno Valley', 'Murrieta', 'San Diego', 'Temecula', 'Escondido', 'Chula Vista', 'El Cajon', 'Lakewood', 'Arvada', 'Fort Collins', 'Westminster', 'Thornton', 'Denver', 'Centennial', 'Colorado Springs', 'Pueblo', 'Aurora', 'Stamford', 'Bridgeport', 'Atlanta', 'Athens', 'Augusta', 'Savannah', 'Honolulu', 'Boise', 'Springfield', 'Peoria', 'Rockford', 'Elgin', 'Naperville', 'Joliet', 'Chicago', 'Evansville', 'South Bend', 'Indianapolis', 'Fort Wayne', 'Des Moines', 'Cedar Rapids', 'Davenport', 'Wichita', 'Topeka', 'Olathe', 'Kansas City', 'Overland Park', 'Louisville', 'Lexington', 'Shreveport', 'Lafayette', 'Baton Rouge', 'New Orleans', 'Baltimore', 'Worcester', 'Lowell', 'Cambridge', 'Boston', 'Grand Rapids', 'Lansing', 'Ann Arbor', 'Flint', 'Detroit', 'Sterling Heights', 'Warren', 'Minneapolis', 'Saint Paul', 'Jackson', 'Independence', 'St. Louis', 'Billings', 'Lincoln', 'Omaha', 'Reno', 'Las Vegas', 'North Las Vegas', 'San Antonio', 'McAllen', 'Austin', 'Mobile', 'Birmingham', 'Huntsville', 'Montgomery', 'Anchorage', 'Surprise', 'Glendale', 'Phoenix', 'Tempe', 'Chandler', 'Scottsdale', 'Gilbert', 'Mesa', 'Tucson', 'Little Rock', 'San Francisco', 'Santa Rosa', 'Daly City', 'Berkeley', 'Vallejo', 'Oakland', 'Hayward', 'Fairfield', 'Sunnyvale', 'Concord', 'Santa Clara', 'Fremont', 'San Jose', 'Antioch', 'Salinas', 'Sacramento', 'Elk Grove', 'Stockton', 'Roseville', 'Modesto', 'Santa Maria', 'Fresno', 'Visalia', 'San Buenaventura (Ventura)', 'Oxnard', 'Bakersfield', 'Thousand Oaks', 'Simi Valley', 'Santa Clarita', 'Los Angeles', 'Inglewood', 'Torrance', 'Burbank', 'Lancaster', 'Long Beach', 'Downey', 'Palmdale', 'Norwalk', 'El Monte', 'Huntington Beach', 'Garden Grove', 'Fullerton', 'Waterbury', 'New Haven', 'Hartford', 'Washington', 'Tallahassee', 'Clearwater', 'Saint Petersburg', 'Tampa', 'Gainesville', 'Cape Coral', 'Jacksonville', 'Orlando', 'Palm Bay', 'Port Saint Lucie', 'Pembroke Pines', 'Miramar', 'Hialeah', 'Coral Springs', 'Miami Gardens', 'Miami', 'Hollywood', 'Fort Lauderdale', 'Pompano Beach', 'West Palm Beach']

In [1139]:
Pacific = ['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska']
Mountain = ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico']
WestNorthCentral = ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
WestSouthCentral = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana']
EastNorthCentral = ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio']
EastSouthCentral = ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama']
SouthAtlantic = ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia']
MidAtlantic = ['Pennsylvania', 'New York', 'New Jersey']
NorthAtlantic = ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']

statecount = len(Pacific) + len(Mountain) + len(WestNorthCentral) + len(WestSouthCentral) + len(EastNorthCentral) + len(EastSouthCentral) + len(SouthAtlantic) + len(MidAtlantic) + len(NorthAtlantic)

print(statecount)

51

In [1140]:
regions = [Pacific, Mountain, WestNorthCentral, WestSouthCentral, EastNorthCentral, EastSouthCentral, SouthAtlantic, MidAtlantic, NorthAtlantic]
print(regions)

[['Washington', 'Oregon', 'California', 'Hawaii', 'Alaska'], ['Montana', 'Idaho', 'Wyoming', 'Colorado', 'Utah', 'Nevada', 'Arizona', 'New Mexico'], ['North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'], ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana'], ['Michigan', 'Wisconsin', 'Illinois', 'Indiana', 'Ohio'], ['Kentucky', 'Tennessee', 'Mississippi', 'Alabama'], ['Florida', 'Georgia', 'South Carolina', 'North Carolina', 'Virginia', 'West Virginia', 'Maryland', 'Delaware', 'District of Columbia'], ['Pennsylvania', 'New York', 'New Jersey'], ['Maine', 'Vermont', 'New Hampshire', 'Massachusetts', 'Connecticut', 'Rhode Island']]

In [1141]:
# Convert date to datetime and fill
# Add boolean column indicating interpolated row
# Weigh city temp entries by population versus entire region
# Add missing dates to cities with temperature data in df2

In [1142]:
# Check for duplicate city names with different station code - 39 stations 38 cities # KPDX Portland Oregon and KPWM Portland Maine
cnt3 = 0
stations = []
for i in range(0, len(df2)):
    if df2['station_code'][i] not in stations:
        stations.append(df2['station_code'][i])
        cnt3 += 1

print("No of unique stations:", cnt3)
print("Stations:", stations)

No of unique stations: 39
Stations: ['KATL', 'KBDL', 'KBNA', 'KBOI', 'KBOS', 'KBUF', 'KBUR', 'KBWI', 'KCMH', 'KCQT', 'KCVG', 'KDCA', 'KDEN', 'KDFW', 'KDTW', 'KFAT', 'KGEG', 'KIAD', 'KIAH', 'KLAS', 'KLGA', 'KLIT', 'KMEM', 'KMSP', 'KMSY', 'KORD', 'KPDX', 'KPHL', 'KPHX', 'KPIT', 'KPWM', 'KRDU', 'KRIC', 'KSAC', 'KSEA', 'KSFO', 'KSLC', 'KSTL', 'KALB']

In [1143]:
# Assign states to stations
df2.loc[df2['station_code']== 'KBDL', ['state']] = 'Connecticut'
df2.loc[df2['station_code']== 'KATL', ['state']] = 'Georgia'
df2.loc[df2['station_code']== 'KBNA', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KBOI', ['state']] = 'Idaho'
df2.loc[df2['station_code']== 'KBOS', ['state']] = 'Massachusetts'
df2.loc[df2['station_code']== 'KBUF', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KBUR', ['state']] = 'California'
df2.loc[df2['station_code']== 'KBWI', ['state']] = 'Maryland'
df2.loc[df2['station_code']== 'KCMH', ['state']] = 'Ohio'
df2.loc[df2['station_code']== 'KCQT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KCVG', ['state']] = 'Kentucky'
df2.loc[df2['station_code']== 'KDCA', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KDEN', ['state']] = 'Colorado'
df2.loc[df2['station_code']== 'KDFW', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KDTW', ['state']] = 'Michigan'
df2.loc[df2['station_code']== 'KFAT', ['state']] = 'California'
df2.loc[df2['station_code']== 'KGEG', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KIAD', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KIAH', ['state']] = 'Texas'
df2.loc[df2['station_code']== 'KLAS', ['state']] = 'Nevada'
df2.loc[df2['station_code']== 'KLGA', ['state']] = 'New York'
df2.loc[df2['station_code']== 'KLIT', ['state']] = 'Arkansas'
df2.loc[df2['station_code']== 'KMEM', ['state']] = 'Tennessee'
df2.loc[df2['station_code']== 'KMSP', ['state']] = 'Minnesota'
df2.loc[df2['station_code']== 'KMSY', ['state']] = 'Louisiana'
df2.loc[df2['station_code']== 'KORD', ['state']] = 'Illinois'
df2.loc[df2['station_code']== 'KPDX', ['state']] = 'Oregon'
df2.loc[df2['station_code']== 'KPHL', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPHX', ['state']] = 'Arizona'
df2.loc[df2['station_code']== 'KPIT', ['state']] = 'Pennsylvania'
df2.loc[df2['station_code']== 'KPWM', ['state']] = 'Maine'
df2.loc[df2['station_code']== 'KRDU', ['state']] = 'North Carolina'
df2.loc[df2['station_code']== 'KRIC', ['state']] = 'Virginia'
df2.loc[df2['station_code']== 'KSAC', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSEA', ['state']] = 'Washington'
df2.loc[df2['station_code']== 'KSFO', ['state']] = 'California'
df2.loc[df2['station_code']== 'KSLC', ['state']] = 'Utah'
df2.loc[df2['station_code']== 'KSTL', ['state']] = 'Missouri'
df2.loc[df2['station_code']== 'KALB', ['state']] = 'New York'

In [1144]:

# Assign states to regions in temperature dataset

region = []
for i in range(0, len(df2)):
    for j in range(0, len(regions)):
        if df2['state'][i] in regions[j]:
            region.append(j)
# Establish region column in temp table      
df2["region"] = region

In [1145]:
# Assign states to regions in population dataset

region2 = []
for k in range(0, len(df)):
    for l in range(0, len(regions)):
        if df['State'][k] in regions[l]:
            region2.append(l)

# Establish region column in pop table          
df["region"] = region2

In [902]:
df2.to_csv(path_or_buf='../SynMax/Temp Data.csv')
df.to_csv(path_or_buf='../SynMax/Pop Data.csv')

In [1149]:

# Convert date to datetime and fill
datetime = pd.to_datetime(df2['location_date'])
df2['date'] = datetime.dt.date

In [ ]:

s=pd.date_range(df2.date.min(),df2.date.max(),freq='1 D')

df3=df2.set_index(['name','station_code','state','region','date']).temp_mean_c.unstack().reindex(columns=s,fill_value='nan').stack().reset_index()
df3.columns.values[4] = 'date'
df3.columns.values[5] = 'temp_mean_c'
df3

In [954]:
print(df2.loc[df2['station_code'] == stations[0], 'date' ])

0       2021-04-20
75      2021-04-19
78      2021-04-18
153     2021-04-17
156     2021-04-16
           ...
89025   2015-01-05
89100   2015-01-04
89103   2015-01-03
89178   2015-01-02
89181   2015-01-01
Name: date, Length: 2287, dtype: datetime64[ns]

In [970]:
 missingdates = []
#loop through each station
for i in range(0, 1):
    missing = []
    missing = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i], 'date'])

print(missingdates)

[]

In [960]:

#loop through each station
for i in range(0, len(stations)):
    missingdates = []
    missingdates = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i], 'date'])
    #loop through each date in s
    for j in range(0, len(s)):
    #check/create dates in individual station
        if s[j] not in df2.loc[df2['station_code'] == stations[0], 'date']:
            missingdates["Station"].append(stations[0])
            missingdates["Date"].append(s[j].isoformat())

Error: connect ECONNREFUSED 127.0.0.1:53724

In [ ]:
print(missingdates)

In [922]:

#loop through each station
for i in range(0, len(stations)):
    #loop through each date in s
    for j in range(0, len(s)):
    #check/create dates in individual station
        if s[j] not in df2.loc[df2['station_code'] == stations[i], 'date']
            df3=df2.set_index(['name','station_code','state','region','date']).temp_mean_c.unstack().reindex(columns=s,fill_value='nan').stack().reset_index()
df3.columns.values[4] = 'date'
df3.columns.values[5] = 'temp_mean_c'

SyntaxError: invalid syntax (<ipython-input-922-87cb3b6a664a>, line 6)

In [914]:
s[0]

Timestamp('2015-01-01 00:00:00', freq='D')

In [961]:
df2.loc[df2['station_code']== stations[0], 'date']

0       2021-04-20
75      2021-04-19
78      2021-04-18
153     2021-04-17
156     2021-04-16
           ...
89025   2015-01-05
89100   2015-01-04
89103   2015-01-03
89178   2015-01-02
89181   2015-01-01
Name: date, Length: 2287, dtype: datetime64[ns]

In [1119]:
# Calculate total number of missing days by station code - KPHX has no missing days 
missingCount = 0

for i in range(0, len(stations)):
    ct1 = len(pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i], 'date']))
    missingCount += ct1

print(missingCount)

585

In [964]:
len(pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[0], 'date']))

15

In [1014]:
print(pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[0], 'date']))

DatetimeIndex(['2015-03-08', '2015-11-01', '2016-03-13', '2016-11-06',
               '2017-03-12', '2017-09-16', '2017-11-05', '2018-03-11',
               '2018-11-04', '2018-12-12', '2019-03-10', '2019-11-03',
               '2020-03-08', '2020-11-01', '2021-03-14'],
              dtype='datetime64[ns]', freq=None)

In [1054]:
missingFromStation = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[0], 'date'])

print(missingFromStation[0])

2015-03-08 00:00:00

In [1068]:
# Create loop for all stations
missingFromStation = []
newFrame = []
df5 = []
for i in range(0, len(stations)):

    missingFromStation = pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[i], 'date'])
# Within each station create a new frame including only missing dates and station code
    newFrame = pd.DataFrame({'date': missingFromStation.date, 'station_code': stations[i]})
    print(newFrame)
# Merge new frame with df2 (ignoring index?)
    df5 = df2.append(newFrame, ignore_index=True)
    print(len(df5))

#Use for loop to create an array of stations
stations
df5.head

          date station_code
0   2015-03-08         KATL
1   2015-11-01         KATL
2   2016-03-13         KATL
3   2016-11-06         KATL
4   2017-03-12         KATL
5   2017-09-16         KATL
6   2017-11-05         KATL
7   2018-03-11         KATL
8   2018-11-04         KATL
9   2018-12-12         KATL
10  2019-03-10         KATL
11  2019-11-03         KATL
12  2020-03-08         KATL
13  2020-11-01         KATL
14  2021-03-14         KATL
89234
          date station_code
0   2015-03-08         KBDL
1   2015-11-01         KBDL
2   2016-03-13         KBDL
3   2016-11-06         KBDL
4   2017-03-12         KBDL
5   2017-09-16         KBDL
6   2017-11-05         KBDL
7   2018-03-11         KBDL
8   2018-11-04         KBDL
9   2019-03-10         KBDL
10  2019-11-03         KBDL
11  2020-03-08         KBDL
12  2020-11-01         KBDL
13  2021-03-14         KBDL
89233
          date station_code
0   2015-03-08         KBNA
1   2015-11-01         KBNA
2   2016-03-13         KBNA
3   2016-11-06         KBNA
4   2017-03-12         KBNA
5   2017-09-16         KBNA
6   2017-11-05         KBNA
7   2018-03-11         KBNA
8   2018-11-04         KBNA
9   2019-03-10         KBNA
10  2019-11-03         KBNA
11  2020-03-08         KBNA
12  2020-11-01         KBNA
13  2021-03-14         KBNA
89233
          date station_code
0   2015-03-08         KBOI
1   2015-11-01         KBOI
2   2016-03-13         KBOI
3   2016-11-06         KBOI
4   2017-03-12         KBOI
5   2017-09-16         KBOI
6   2017-11-05         KBOI
7   2018-03-11         KBOI
8   2018-11-04         KBOI
9   2019-03-10         KBOI
10  2019-11-03         KBOI
11  2020-03-08         KBOI
12  2020-11-01         KBOI
13  2021-03-14         KBOI
89233
          date station_code
0   2015-03-08         KBOS
1   2015-11-01         KBOS
2   2016-03-13         KBOS
3   2016-11-06         KBOS
4   2017-03-12         KBOS
5   2017-09-16         KBOS
6   2017-11-05         KBOS
7   2018-03-11         KBOS
8   2018-11-04         KBOS
9   2019-03-10         KBOS
10  2019-11-03         KBOS
11  2020-03-08         KBOS
12  2020-11-01         KBOS
13  2021-03-14         KBOS
89233
          date station_code
0   2015-03-08         KBUF
1   2015-11-01         KBUF
2   2016-03-13         KBUF
3   2016-11-06         KBUF
4   2017-03-12         KBUF
5   2017-09-16         KBUF
6   2017-11-05         KBUF
7   2018-03-11         KBUF
8   2018-11-04         KBUF
9   2019-03-10         KBUF
10  2019-11-03         KBUF
11  2020-03-08         KBUF
12  2020-05-28         KBUF
13  2020-11-01         KBUF
14  2021-03-14         KBUF
15  2021-04-12         KBUF
89235
          date station_code
0   2015-03-08         KBUR
1   2015-09-17         KBUR
2   2015-11-01         KBUR
3   2016-03-13         KBUR
4   2016-11-06         KBUR
5   2017-03-12         KBUR
6   2017-09-16         KBUR
7   2017-11-05         KBUR
8   2018-03-11         KBUR
9   2018-11-04         KBUR
10  2019-03-10         KBUR
11  2019-11-03         KBUR
12  2020-03-08         KBUR
13  2020-11-01         KBUR
14  2021-03-14         KBUR
89234
          date station_code
0   2015-03-08         KBWI
1   2015-04-17         KBWI
2   2015-09-17         KBWI
3   2015-11-01         KBWI
4   2016-03-13         KBWI
5   2016-11-06         KBWI
6   2017-03-12         KBWI
7   2017-09-16         KBWI
8   2017-11-05         KBWI
9   2018-03-11         KBWI
10  2018-11-04         KBWI
11  2019-03-10         KBWI
12  2019-11-03         KBWI
13  2020-03-08         KBWI
14  2020-11-01         KBWI
15  2021-03-14         KBWI
89235
          date station_code
0   2015-03-08         KCMH
1   2015-09-17         KCMH
2   2015-11-01         KCMH
3   2016-03-13         KCMH
4   2016-11-06         KCMH
5   2017-03-12         KCMH
6   2017-09-16         KCMH
7   2017-11-05         KCMH
8   2018-03-11         KCMH
9   2018-11-04         KCMH
10  2019-03-10         KCMH
11  2019-11-03         KCMH
12  2020-03-08         KCMH
13  2020-11-01         KCMH
14  2021-03-14         KCMH
89234
          date station_code
0   2015-03-08         KCQT
1   2015-09-17         KCQT
2   2015-11-01         KCQT
3   2016-03-13         KCQT
4   2016-11-06         KCQT
5   2017-03-12         KCQT
6   2017-09-16         KCQT
7   2017-11-05         KCQT
8   2018-03-11         KCQT
9   2018-11-04         KCQT
10  2019-03-10         KCQT
11  2019-11-03         KCQT
12  2020-03-08         KCQT
13  2020-11-01         KCQT
14  2021-03-14         KCQT
89234
          date station_code
0   2015-03-08         KCVG
1   2015-09-17         KCVG
2   2015-11-01         KCVG
3   2016-03-13         KCVG
4   2016-11-06         KCVG
5   2017-03-12         KCVG
6   2017-09-16         KCVG
7   2017-11-05         KCVG
8   2018-03-11         KCVG
9   2018-11-04         KCVG
10  2019-03-10         KCVG
11  2019-11-03         KCVG
12  2020-03-08         KCVG
13  2020-11-01         KCVG
14  2021-03-14         KCVG
89234
          date station_code
0   2015-03-08         KDCA
1   2015-09-17         KDCA
2   2015-11-01         KDCA
3   2016-03-13         KDCA
4   2016-11-06         KDCA
5   2017-03-12         KDCA
6   2017-09-16         KDCA
7   2017-11-05         KDCA
8   2018-03-11         KDCA
9   2018-11-04         KDCA
10  2019-03-10         KDCA
11  2019-11-03         KDCA
12  2020-03-08         KDCA
13  2020-11-01         KDCA
14  2021-03-14         KDCA
89234
          date station_code
0   2015-03-08         KDEN
1   2015-11-01         KDEN
2   2016-03-13         KDEN
3   2016-11-06         KDEN
4   2017-03-12         KDEN
5   2017-09-16         KDEN
6   2017-10-21         KDEN
7   2017-11-05         KDEN
8   2018-03-11         KDEN
9   2018-11-04         KDEN
10  2019-03-10         KDEN
11  2019-11-03         KDEN
12  2020-03-08         KDEN
13  2020-07-13         KDEN
14  2020-11-01         KDEN
15  2021-03-14         KDEN
89235
          date station_code
0   2015-03-08         KDFW
1   2015-09-17         KDFW
2   2015-11-01         KDFW
3   2016-03-13         KDFW
4   2016-11-06         KDFW
5   2017-03-12         KDFW
6   2017-09-16         KDFW
7   2017-11-05         KDFW
8   2018-03-11         KDFW
9   2018-11-04         KDFW
10  2019-03-10         KDFW
11  2019-11-03         KDFW
12  2020-03-08         KDFW
13  2020-05-28         KDFW
14  2020-11-01         KDFW
15  2021-03-14         KDFW
89235
          date station_code
0   2015-03-08         KDTW
1   2015-11-01         KDTW
2   2016-03-13         KDTW
3   2016-11-06         KDTW
4   2017-03-12         KDTW
5   2017-09-16         KDTW
6   2017-11-05         KDTW
7   2018-03-11         KDTW
8   2018-11-04         KDTW
9   2019-03-10         KDTW
10  2019-11-03         KDTW
11  2019-11-28         KDTW
12  2020-03-08         KDTW
13  2020-05-28         KDTW
14  2020-11-01         KDTW
15  2021-03-14         KDTW
89235
          date station_code
0   2015-03-08         KFAT
1   2015-11-01         KFAT
2   2016-03-13         KFAT
3   2016-11-06         KFAT
4   2017-03-12         KFAT
5   2017-09-16         KFAT
6   2017-11-05         KFAT
7   2018-03-11         KFAT
8   2018-11-04         KFAT
9   2019-03-10         KFAT
10  2019-11-03         KFAT
11  2019-11-28         KFAT
12  2020-03-08         KFAT
13  2020-11-01         KFAT
14  2021-03-14         KFAT
89234
          date station_code
0   2015-03-08         KGEG
1   2015-11-01         KGEG
2   2016-03-13         KGEG
3   2016-11-06         KGEG
4   2017-03-12         KGEG
5   2017-09-16         KGEG
6   2017-11-05         KGEG
7   2018-03-11         KGEG
8   2018-11-04         KGEG
9   2019-03-10         KGEG
10  2019-11-03         KGEG
11  2019-11-28         KGEG
12  2020-03-08         KGEG
13  2020-11-01         KGEG
14  2021-03-14         KGEG
89234
          date station_code
0   2015-03-08         KIAD
1   2015-11-01         KIAD
2   2016-03-13         KIAD
3   2016-11-06         KIAD
4   2017-03-12         KIAD
5   2017-09-16         KIAD
6   2017-11-05         KIAD
7   2018-03-11         KIAD
8   2018-11-04         KIAD
9   2019-03-10         KIAD
10  2019-11-03         KIAD
11  2019-11-28         KIAD
12  2020-03-08         KIAD
13  2020-11-01         KIAD
14  2021-03-14         KIAD
89234
          date station_code
0   2015-03-08         KIAH
1   2015-11-01         KIAH
2   2016-03-13         KIAH
3   2016-11-06         KIAH
4   2017-03-12         KIAH
5   2017-09-16         KIAH
6   2017-11-05         KIAH
7   2018-03-11         KIAH
8   2018-11-04         KIAH
9   2019-03-10         KIAH
10  2019-11-03         KIAH
11  2019-11-28         KIAH
12  2020-03-08         KIAH
13  2020-11-01         KIAH
14  2021-03-14         KIAH
89234
          date station_code
0   2015-03-08         KLAS
1   2015-11-01         KLAS
2   2016-03-13         KLAS
3   2016-11-06         KLAS
4   2017-03-12         KLAS
5   2017-09-16         KLAS
6   2017-11-05         KLAS
7   2018-03-11         KLAS
8   2018-11-04         KLAS
9   2019-03-10         KLAS
10  2019-11-03         KLAS
11  2020-03-08         KLAS
12  2020-11-01         KLAS
13  2021-03-14         KLAS
89233
          date station_code
0   2015-03-08         KLGA
1   2015-11-01         KLGA
2   2016-03-13         KLGA
3   2016-11-06         KLGA
4   2017-03-12         KLGA
5   2017-09-16         KLGA
6   2017-11-05         KLGA
7   2018-03-11         KLGA
8   2018-11-04         KLGA
9   2019-03-10         KLGA
10  2019-11-03         KLGA
11  2020-03-08         KLGA
12  2020-11-01         KLGA
13  2021-03-14         KLGA
89233
          date station_code
0   2015-03-08         KLIT
1   2015-11-01         KLIT
2   2016-03-13         KLIT
3   2016-11-06         KLIT
4   2017-03-12         KLIT
5   2017-09-16         KLIT
6   2017-11-05         KLIT
7   2018-03-11         KLIT
8   2018-11-04         KLIT
9   2019-03-10         KLIT
10  2019-11-03         KLIT
11  2020-03-08         KLIT
12  2020-11-01         KLIT
13  2021-03-14         KLIT
89233
          date station_code
0   2015-03-08         KMEM
1   2015-11-01         KMEM
2   2016-03-13         KMEM
3   2016-11-06         KMEM
4   2017-03-12         KMEM
5   2017-09-16         KMEM
6   2017-11-05         KMEM
7   2018-03-11         KMEM
8   2018-11-04         KMEM
9   2019-03-10         KMEM
10  2019-11-03         KMEM
11  2020-03-08         KMEM
12  2020-11-01         KMEM
13  2021-03-14         KMEM
89233
          date station_code
0   2015-03-08         KMSP
1   2015-11-01         KMSP
2   2016-03-13         KMSP
3   2016-11-06         KMSP
4   2017-03-12         KMSP
5   2017-09-16         KMSP
6   2017-11-05         KMSP
7   2018-03-11         KMSP
8   2018-11-04         KMSP
9   2019-03-10         KMSP
10  2019-11-03         KMSP
11  2020-03-08         KMSP
12  2020-07-13         KMSP
13  2020-11-01         KMSP
14  2021-03-14         KMSP
89234
          date station_code
0   2015-03-08         KMSY
1   2015-11-01         KMSY
2   2016-03-13         KMSY
3   2016-11-06         KMSY
4   2017-03-12         KMSY
5   2017-09-16         KMSY
6   2017-11-05         KMSY
7   2018-03-11         KMSY
8   2018-11-04         KMSY
9   2018-12-12         KMSY
10  2019-03-10         KMSY
11  2019-11-03         KMSY
12  2020-03-08         KMSY
13  2020-07-13         KMSY
14  2020-11-01         KMSY
15  2021-03-14         KMSY
89235
          date station_code
0   2015-03-08         KORD
1   2015-11-01         KORD
2   2016-03-13         KORD
3   2016-11-06         KORD
4   2017-03-12         KORD
5   2017-09-16         KORD
6   2017-11-05         KORD
7   2018-03-11         KORD
8   2018-11-04         KORD
9   2019-03-10         KORD
10  2019-11-03         KORD
11  2020-03-08         KORD
12  2020-11-01         KORD
13  2021-03-14         KORD
89233
          date station_code
0   2015-03-08         KPDX
1   2015-04-17         KPDX
2   2015-11-01         KPDX
3   2016-03-13         KPDX
4   2016-11-06         KPDX
5   2017-03-12         KPDX
6   2017-09-16         KPDX
7   2017-11-05         KPDX
8   2018-03-11         KPDX
9   2018-11-04         KPDX
10  2019-03-10         KPDX
11  2019-11-03         KPDX
12  2020-03-08         KPDX
13  2020-11-01         KPDX
14  2021-03-14         KPDX
89234
          date station_code
0   2015-03-08         KPHL
1   2015-11-01         KPHL
2   2016-03-13         KPHL
3   2016-11-06         KPHL
4   2017-03-12         KPHL
5   2017-09-16         KPHL
6   2017-11-05         KPHL
7   2018-03-11         KPHL
8   2018-11-04         KPHL
9   2019-03-10         KPHL
10  2019-11-03         KPHL
11  2020-03-08         KPHL
12  2020-11-01         KPHL
13  2021-03-14         KPHL
89233
Empty DataFrame
Columns: [date, station_code]
Index: []
89219
          date station_code
0   2015-03-08         KPIT
1   2015-11-01         KPIT
2   2016-03-13         KPIT
3   2016-11-06         KPIT
4   2017-03-12         KPIT
5   2017-09-16         KPIT
6   2017-11-05         KPIT
7   2018-03-11         KPIT
8   2018-11-04         KPIT
9   2019-03-10         KPIT
10  2019-11-03         KPIT
11  2020-03-08         KPIT
12  2020-11-01         KPIT
13  2021-03-14         KPIT
89233
          date station_code
0   2015-03-08         KPWM
1   2015-11-01         KPWM
2   2016-03-13         KPWM
3   2016-11-06         KPWM
4   2017-03-12         KPWM
5   2017-09-16         KPWM
6   2017-11-05         KPWM
7   2018-03-11         KPWM
8   2018-11-04         KPWM
9   2019-03-10         KPWM
10  2019-11-03         KPWM
11  2020-03-08         KPWM
12  2020-11-01         KPWM
13  2021-03-14         KPWM
89233
          date station_code
0   2015-03-08         KRDU
1   2015-11-01         KRDU
2   2016-03-13         KRDU
3   2016-11-06         KRDU
4   2017-03-12         KRDU
5   2017-09-16         KRDU
6   2017-11-05         KRDU
7   2018-03-11         KRDU
8   2018-11-04         KRDU
9   2019-03-10         KRDU
10  2019-11-03         KRDU
11  2020-03-08         KRDU
12  2020-11-01         KRDU
13  2021-03-14         KRDU
89233
          date station_code
0   2015-03-08         KRIC
1   2015-11-01         KRIC
2   2016-03-13         KRIC
3   2016-11-06         KRIC
4   2017-03-12         KRIC
5   2017-09-16         KRIC
6   2017-11-05         KRIC
7   2018-03-11         KRIC
8   2018-11-04         KRIC
9   2019-03-10         KRIC
10  2019-11-03         KRIC
11  2020-03-08         KRIC
12  2020-11-01         KRIC
13  2021-03-14         KRIC
89233
          date station_code
0   2015-03-08         KSAC
1   2015-11-01         KSAC
2   2016-03-13         KSAC
3   2016-11-06         KSAC
4   2017-03-12         KSAC
5   2017-09-16         KSAC
6   2017-11-05         KSAC
7   2018-03-11         KSAC
8   2018-11-04         KSAC
9   2019-03-10         KSAC
10  2019-11-03         KSAC
11  2020-03-08         KSAC
12  2020-11-01         KSAC
13  2021-03-14         KSAC
89233
          date station_code
0   2015-03-08         KSEA
1   2015-11-01         KSEA
2   2016-03-13         KSEA
3   2016-11-06         KSEA
4   2017-03-12         KSEA
5   2017-09-16         KSEA
6   2017-11-05         KSEA
7   2018-03-11         KSEA
8   2018-11-04         KSEA
9   2019-03-10         KSEA
10  2019-11-03         KSEA
11  2020-03-08         KSEA
12  2020-11-01         KSEA
13  2021-03-14         KSEA
89233
          date station_code
0   2015-03-08         KSFO
1   2015-11-01         KSFO
2   2016-03-13         KSFO
3   2016-11-06         KSFO
4   2017-03-12         KSFO
5   2017-09-16         KSFO
6   2017-11-05         KSFO
7   2018-03-11         KSFO
8   2018-11-04         KSFO
9   2019-03-10         KSFO
10  2019-07-06         KSFO
11  2019-11-03         KSFO
12  2020-03-08         KSFO
13  2020-11-01         KSFO
14  2021-03-14         KSFO
89234
          date station_code
0   2015-03-08         KSLC
1   2015-11-01         KSLC
2   2016-03-13         KSLC
3   2016-11-06         KSLC
4   2017-03-12         KSLC
5   2017-09-16         KSLC
6   2017-11-05         KSLC
7   2018-03-11         KSLC
8   2018-11-04         KSLC
9   2019-03-10         KSLC
10  2019-07-06         KSLC
11  2019-11-03         KSLC
12  2020-03-08         KSLC
13  2020-11-01         KSLC
14  2021-03-14         KSLC
89234
          date station_code
0   2015-03-08         KSTL
1   2015-11-01         KSTL
2   2016-03-13         KSTL
3   2016-11-06         KSTL
4   2017-03-12         KSTL
5   2017-09-16         KSTL
6   2017-11-05         KSTL
7   2018-03-11         KSTL
8   2018-11-04         KSTL
9   2019-03-10         KSTL
10  2019-11-03         KSTL
11  2020-03-08         KSTL
12  2020-11-01         KSTL
13  2021-03-14         KSTL
89233
          date station_code
0   2015-03-08         KALB
1   2015-11-01         KALB
2   2016-03-13         KALB
3   2016-11-06         KALB
4   2017-03-12         KALB
5   2017-09-16         KALB
6   2017-11-05         KALB
7   2018-03-11         KALB
8   2018-11-04         KALB
9   2019-03-10         KALB
10  2019-11-03         KALB
11  2020-03-08         KALB
12  2020-11-01         KALB
13  2021-03-14         KALB
14  2021-04-20         KALB
89234

<bound method NDFrame.head of                 name station_code location_date  temp_mean_c  temp_min_c  \
0            Atlanta         KATL     4/20/2021    17.491667        12.2
1      Windsor Locks         KBDL     4/20/2021    13.887500         3.9
2          Nashville         KBNA     4/20/2021    15.175000         6.7
3              Boise         KBOI     4/20/2021     9.329167         1.7
4             Boston         KBOS     4/20/2021    16.716667        10.0
...              ...          ...           ...          ...         ...
89229            NaN         KALB           NaN          NaN         NaN
89230            NaN         KALB           NaN          NaN         NaN
89231            NaN         KALB           NaN          NaN         NaN
89232            NaN         KALB           NaN          NaN         NaN
89233            NaN         KALB           NaN          NaN         NaN

       temp_max_c          state  region                 date
0            23.3        Georgia     6.0  2021-04-20 00:00:00
1            22.2    Connecticut     8.0  2021-04-20 00:00:00
2            23.3      Tennessee     5.0  2021-04-20 00:00:00
3            15.6          Idaho     1.0  2021-04-20 00:00:00
4            23.9  Massachusetts     8.0  2021-04-20 00:00:00
...           ...            ...     ...                  ...
89229         NaN            NaN     NaN           2019-11-03
89230         NaN            NaN     NaN           2020-03-08
89231         NaN            NaN     NaN           2020-11-01
89232         NaN            NaN     NaN           2021-03-14
89233         NaN            NaN     NaN           2021-04-20

[89234 rows x 9 columns]>

In [1109]:
len(pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']==stations[0], 'date']))

15

In [1098]:
df2.loc[df2['station_code']== stations[2], 'station_code']

2        KBNA
73       KBNA
80       KBNA
151      KBNA
158      KBNA
         ...
89027    KBNA
89098    KBNA
89105    KBNA
89176    KBNA
89183    KBNA
Name: station_code, Length: 2288, dtype: object

In [1120]:
pd.date_range(start = '2015-01-01', end = '2021-04-20' ).difference(df2.loc[df2['station_code']== stations[28], 'date'])

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [1150]:
print(df2)
df2 = df2.set_index("date")

                   name station_code location_date  temp_mean_c  temp_min_c  \
0               Atlanta         KATL     4/20/2021    17.491667        12.2
1         Windsor Locks         KBDL     4/20/2021    13.887500         3.9
2             Nashville         KBNA     4/20/2021    15.175000         6.7
3                 Boise         KBOI     4/20/2021     9.329167         1.7
4                Boston         KBOS     4/20/2021    16.716667        10.0
...                 ...          ...           ...          ...         ...
89214  Sacramento/Execu         KSAC      1/1/2015     3.500000        -1.7
89215          Portland         KPWM      1/1/2015    -3.454167        -7.8
89216    Raleigh/Durham         KRDU      1/1/2015     3.291667        -4.4
89217        Pittsburgh         KPIT      1/1/2015    -2.570833        -6.7
89218  Phoenix/Sky HRBR         KPHX      1/1/2015     4.354167         1.7

       temp_max_c           state  region        date
0            23.3         Georgia       6  2021-04-20
1            22.2     Connecticut       8  2021-04-20
2            23.3       Tennessee       5  2021-04-20
3            15.6           Idaho       1  2021-04-20
4            23.9   Massachusetts       8  2021-04-20
...           ...             ...     ...         ...
89214        10.6      California       0  2015-01-01
89215        -0.6           Maine       8  2015-01-01
89216        10.6  North Carolina       6  2015-01-01
89217         1.7    Pennsylvania       7  2015-01-01
89218         7.2         Arizona       1  2015-01-01

[89219 rows x 9 columns]

In [1151]:
df2['missing'] = 0

In [1152]:
df2.to_csv(path_or_buf='../SynMax/Temp Data.csv')

In [1153]:
df2.loc[df2['station_code'] == stations[0]]

,name,station_code,location_date,temp_mean_c,temp_min_c,temp_max_c,state,region,missing
date,,,,,,,,,
2021-04-20,Atlanta,KATL,4/20/2021,17.491667,12.2,23.3,Georgia,6,0
2021-04-19,Atlanta,KATL,4/19/2021,16.154167,11.1,21.7,Georgia,6,0
2021-04-18,Atlanta,KATL,4/18/2021,16.720833,11.7,22.2,Georgia,6,0
2021-04-17,Atlanta,KATL,4/17/2021,16.795833,12.8,21.7,Georgia,6,0
2021-04-16,Atlanta,KATL,4/16/2021,14.695833,10.0,19.4,Georgia,6,0
...,...,...,...,...,...,...,...,...,...
2015-01-05,Atlanta,KATL,1/5/2015,5.045833,1.1,8.9,Georgia,6,0
2015-01-04,Atlanta,KATL,1/4/2015,14.279167,6.7,17.8,Georgia,6,0
2015-01-03,Atlanta,KATL,1/3/2015,11.154167,8.9,16.1,Georgia,6,0
2015-01-02,Atlanta,KATL,1/2/2015,8.116667,6.7,9.4,Georgia,6,0
2015-01-01,Atlanta,KATL,1/1/2015,6.758333,0.0,13.9,Georgia,6,0

In [1154]:
KATL = df2.loc[df2['station_code'] == stations[0]]

In [1230]:
import datetime
time = pd.date_range(start = '2015-01-01', end = '2021-04-20', freq='D' )
sTime = pd.Series(index=time)
KATL = pd.concat([KATL, sTime[~sTime.index.isin(KATL.index)]]).sort_index()
KATL = KATL.drop([0],axis=1)

print(KATL)

           location_date  missing     name  region    state station_code  \
2015-01-01      1/1/2015      0.0  Atlanta     6.0  Georgia         KATL
2015-01-02      1/2/2015      0.0  Atlanta     6.0  Georgia         KATL
2015-01-03      1/3/2015      0.0  Atlanta     6.0  Georgia         KATL
2015-01-04      1/4/2015      0.0  Atlanta     6.0  Georgia         KATL
2015-01-05      1/5/2015      0.0  Atlanta     6.0  Georgia         KATL
...                  ...      ...      ...     ...      ...          ...
2021-04-16     4/16/2021      0.0  Atlanta     6.0  Georgia         KATL
2021-04-17     4/17/2021      0.0  Atlanta     6.0  Georgia         KATL
2021-04-18     4/18/2021      0.0  Atlanta     6.0  Georgia         KATL
2021-04-19     4/19/2021      0.0  Atlanta     6.0  Georgia         KATL
2021-04-20     4/20/2021      0.0  Atlanta     6.0  Georgia         KATL

            temp_max_c  temp_mean_c  temp_min_c
2015-01-01        13.9     6.758333         0.0
2015-01-02         9.4     8.116667         6.7
2015-01-03        16.1    11.154167         8.9
2015-01-04        17.8    14.279167         6.7
2015-01-05         8.9     5.045833         1.1
...                ...          ...         ...
2021-04-16        19.4    14.695833        10.0
2021-04-17        21.7    16.795833        12.8
2021-04-18        22.2    16.720833        11.7
2021-04-19        21.7    16.154167        11.1
2021-04-20        23.3    17.491667        12.2

[2302 rows x 9 columns]
<ipython-input-1230-fbd886507b9e>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sTime = pd.Series(index=time)

In [1231]:
KATL = (KATL.ffill()+KATL.bfill())/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [1232]:
KATLinterpol = KATL['temp_mean_c'].interpolate()